[2019-09-09 15:31] tomassedovic opened #233 "[docs] Electron not FLOSS?"
Hi! The comparison table says that Tauri is FLOSS while Electron is not:

https://github.com/tauri-apps/tauri#comparison-between-tauri-1-and-electron-5

There's no further explanation and this is really confusing to me. Electron is licensed under the MIT:

https://github.com/electron/electron/blob/master/LICENSE

MIT is both a Free Software license under the FSF as well as an Open Source license u

[2020-02-21 12:41] andreas-mausch opened #25 "[docs] Supported windows versions?"
Hi there,

I've just tried to build my first app via tauri.

I've used a VM with Windows 7 and installed all the necessary tools (uff!).

Now I did `npm run build`, `tauri build`, it exited without any errors and gave me a .exe. Hooray!

However, at startup I see this error:

![tauri-error-win7](https://user-images.githubusercontent.com/1736847/75035321-807e6b00-54af-11ea-9bd9-9477d2caffb9.png)

W

[2020-03-01 20:53] BenoitRanque opened #28 "[docs] Document Windows workaround for issue #212"
Issue tauri-apps/tauri#212 is still a problem during windows development,
This is only a problem when `devPath` in `tauri.config.json` is a url, and not a static folder.

Since this is an issue upstream, there is little we can do but wait for the issue to be solved in web-view.

An easy work around is adding the following code in main.js or the equivalent file:
[code]
Maybe this should be added to

[2020-03-09 10:31] Laegel opened #2 "Rework content in a user-friendly way"
Right now, the website only contains Docusaurus placeholders and raw ideas that need to be refined to be decent.

What needs to be displayed (unordered list):
- reasons to use Tauri;
- more about Tauri, philosophy (details about what matters most for us, like security);
- usage/setup;
- examples/recipes;
- API, both Rust and JS public interface;
- showcase, the awesome community made projects;
- s

[2020-03-09 10:32] nothingismagick commented on #2
I think that `more about Tauri` and `reasons to use tauri` should stay at https://tauri.studio - as should the `showcase`. These docs will be dense, and it will already be complex enough to navigate them.

[2020-03-09 10:34] nothingismagick opened #3 "README"
We definitely need a README here, to define the scope of this repository and inform devs how to get started with it.

[2020-03-09 10:57] Laegel commented on #2
Since Docusaurus has a native Crowdin support, I was thinking about merging tauri.studio content into the new docs website.
Also, this way, examples, setup... anything that implies to show code that may change benefits from versioning.

[2020-03-09 11:01] nothingismagick commented on #2
Hmm. Good point.

[2020-03-09 11:47] Laegel opened #4 "Public API"
[**This issue content will be updated, it's currently used for writing specifications about our goal]**

## Rust
Generate the crates documentation (rustdoc) and use the transformation tool (I called it "rustdocusaurus", I was inspired) to extract crates docs and save them into Docusaurus.

## JS/TS
For now, the only JS public API involves the JS/Rust bridge which is pretty simple. We'll need to au

[2020-03-09 12:19] Laegel opened #5 "Bad Crowdin CLI behaviour"
It looks like Crowdin has been working on a new version of its API; Docusaurus' commands to upload/download translations are broken.

We need to spend a moment to understand what's going wrong here.

[2020-03-10 02:34] tensor-programming commented on #25
Windows 8.1 and even windows 7 still are supported even if not explicitly so long as you download edge before trying to run a Tauri app; found [here](https://www.microsoft.com/en-us/edge).  MSHTML is still fairly experimental but it should work given the proper polyfills. That said, we may not continue to support MSHTML/IE going forward.

[2020-03-14 17:41] #5 closed, assigned to nobody

[2020-03-19 13:45] x7airworker opened #27 "[docs] Missing example for execute API"
I am searching for documentation / example of the execute API.

[2020-03-19 16:25] Laegel commented on #27
Hey @x7airworker , thanks for reporting that. Just wanted to let you know that the JS API docs are currently being created and will be exposed in the [Wiki](https://github.com/tauri-apps/tauri/wiki) quite soon.
Stay tuned!

[2020-04-07 08:40] nothingismagick opened #8 "Staging Site"
It would be good to put this up on a staging site so that we can get some members of the team to review it. @khionu / @nklayman - would you be up to throwing this up on now.sh or some free service like that?

@jbolda - maybe an action would be good too.

Thoughts?

[2020-04-07 12:46] jbolda commented on #8
Where will the final host be? I have an action I use that does Netlify Deploy previews and prod, or they have their own actions integration (and we can apply for the open source license for more build minutes).

[2020-04-07 16:19] khionu commented on #8
If we can make use of the same provider for production and staging, that would be best, imo.

[2020-04-07 18:00] nothingismagick commented on #8
Then I guess we should use digital ocean.

[2020-04-07 19:58] nklayman commented on #8
I could probably set up a ci on GitHub actions that builds the website as a container, uploads the image to the GitHub image registry, and then a digital ocean kuberenetes cluster could pull the image and set up an instance or two of it for hosting. We could have a build for stable and staging and run both versions of the site on the same cluster. We would use the ingress controller to direct traf

[2020-04-07 21:50] jbolda commented on #8
We are thinking for ease of devops to go with Netlify and apply for the open source access. We also get the deploy previews in our PRs which is some great DX.

[2020-04-08 13:42] mosheduminer opened #10 "Headers overlap on mobile"
The headers of every page are stacked on mobile, but they overlap.
![Screenshot (35)](https://user-images.githubusercontent.com/47164590/78790810-0cbff100-797d-11ea-84c8-0905c8e74f83.png)

[2020-04-08 13:57] khionu opened #12 "Header height is adjusted between load and load of logo"
It's a small, but very discernible adjustment, would be good to ensure the height matches the logo so it doesn't "jump".

[2020-04-08 14:15] jbolda opened #13 "code of conduct"
We currently have a code of conduct link in the footer which links to the main repo markdown file page. I assume we want to have the code of conduct translated so this should likely become it's own page. Also, items in the footer are not available for translation so we may need to move the link to a translatable location.

[2020-04-08 14:18] Laegel commented on #13
Header links are translatable. But Docusaurus doesn't allow dropdowns in the header so we need to choose wisely what to display there; and I think CoC isn't the most important thing to show in the headers.
Maybe a dedicated section with important links in the homepage?

[2020-04-08 14:20] jbolda commented on #13
That would make sense to me. A "community" section on the homepage which points to a specific page for the CoC.

[2020-04-08 18:49] nklayman commented on #10
Will be fixed by #14.

[2020-04-08 19:02] Laegel opened #16 "Decision about the docs"
@tauri-apps/core

The current docs are using Docusaurus V1.14.4 that supports i18n, a required feature.
Docusaurus V2 is still in alpha stage and does not support i18n yet. But, as Jacob told me, it's the next big thing they'll add in V2.
At first, I was thinking about waiting for V2 to support i18n to eventually switch to it but I changed my mind, as we have been recommended to start with V2 by D

[2020-04-08 19:08] nklayman commented on #16
I think it mostly depends on whether or not we want to add translations right away. IMO we should wait till beta/RC to add translations as the docs are changing really fast now and we don't want to burn out our translators. We also don't have support capabilities for languages other than English so we may struggle to help people who don't speak English.

[2020-04-08 19:17] nothingismagick commented on #16
I think Noah is right here. I mean if v2 at some point this summer offers the i18n engine - and we can stomach the `alpha` badge - then let's follow the Docusaurus team advice.

[2020-04-08 21:58] jbolda commented on #16
Sounds like lots of similar thoughts. We didn't want to make a decision without getting more input from everyone. The timeline that we have for the docs seems that starting on v2 makes a lot of sense for the better templates and scss support.

Thanks to @jsjoeio for the extra insight. I reached out to them for their opinions as well.

[2020-04-08 21:59] jbolda commented on #8
Netlify has been all set up, and it will handle both our staging and production sites.

[2020-04-08 21:59] #8 closed, assigned to nobody

[2020-04-09 09:40] Laegel commented on #16
All right. Unless someone has anything to say against this decision, I'll start working on V2 and move all the V1 stuff to the V2 and try to deploy a version (thanks to @jbolda !) before this week-end.

[2020-04-10 13:55] #16 closed, assigned to nobody

[2020-04-10 13:57] #3 closed, assigned to Laegel

[2020-04-10 13:58] nothingismagick commented on #10
Is this still happening with the v2?

[2020-04-10 13:58] nothingismagick commented on #12
Is this still happening on v2?

[2020-04-10 14:01] Laegel commented on #13
Since we're now on V2 and translation is not blocking us (for now), this can be done.

[2020-04-10 17:49] nklayman commented on #10
Nope, the navigation has changed and this is no longer an issue.

[2020-04-10 17:49] #10 closed, assigned to nobody

[2020-04-10 20:11] Laegel opened #18 "Homepage"
Layout:
- a hero, I'd like to have a short but awesome animation to explain Tauri to newcomers;
- the most important features, small sentences with illustrations;
- ...?
- the roadmap.

[2020-04-10 20:23] Laegel opened #19 "Retrieve docs from the Wiki"
All docs from the current Wiki should be moved to the website. Also, we need to ensure that every links are updated.
Contents may have to be updated, reworked and detailed.

[2020-04-10 20:28] Laegel opened #20 "Patterns page"
Integrate Mermaid JS into the docs (tip: https://github.com/facebook/Docusaurus/issues/1258) so we can reuse the patterns page https://tauri.studio/en/patterns.

[2020-04-10 20:51] Laegel opened #21 "Pages from tauri.studio"
Security, book, partners and governance should also be moved (and updated) into the docs.

[2020-04-10 20:55] Laegel opened #22 "Global style improvements and layout"
The goal is to have a better customization over the default Docusaurus template.
- understand why Rust syntax highlighting is missing.

[2020-04-12 15:17] khionu commented on #12
Nope, looks good!

[2020-04-12 15:17] #12 closed, assigned to nobody

[2020-04-17 10:18] Laegel opened #23 "Better contributor guide & tools"
The https://github.com/tauri-apps/tauri/issues/564 issue has put a finger on something else that should be improved: having a a nice contributor guide in order to help people getting started quickly and easily so they can contribute to Tauri codebase.

[2020-04-26 17:16] Grewer opened #26 "[docs]How the project supports CORS"
As the title
And https://github.com/tauri-apps/tauri/blob/7e2854007a/cli/tauri.js/src/template/defaultConfig.ts whether his config description can be added to Wiki

[2020-04-27 06:32] Grewer commented on #26
In electron it looks like this:
[code]

[2020-04-27 07:34] nothingismagick commented on #26
We're about to push a few updates to master and cut a new release. As soon as that lands, I will update the wiki to go into gory details about the config.

To answer your question in the meantime, we apply a CSP - but haven't added CORS for the mode that uses a server. We are using `tiny-http` for the server we ship with the app, but perhaps we should also offer an option for adding a configurable

[2020-04-28 22:20] TheJaredWilcurt opened #24 "[docs] npm vs Yarn confusion and onboarding"
https://github.com/tauri-apps/tauri/wiki/04.-MS-Windows-Setup

The documentation makes it sound like tauri cannot function without Yarn, and that npm should not be used, which is completely backwards to everything in the Node.js ecosystem. Node ships with npm and only a small minority of projects use Yarn (let alone require it).

Further, for onboarding new users the ideal scenario would be:

1. I

[2020-04-28 22:35] Laegel commented on #24
Hey @TheJaredWilcurt , thanks for your issue.
According to that sentence ("Linux Setup" page):

Yarn is preferred _internally_ which implicitly means it's _not mandatory_. I know it should also appear on the "MS Windows Setup" page, I guess a small update should be applied.

To answer your question in a more straightforward way: either NPM or Yarn can be used with Tauri.

[2020-04-28 22:39] TheJaredWilcurt commented on #24
Yes, for onboarding, it would also be ideal for there to only be one set of instructions that work on all platforms. Then any platform specific bits mentioned after the main instructions. This solves the problem of people skipping all other platform instructions and going to their OS. It also reduces the effort of having to maintain 3 sets of instructions.

[2020-04-29 04:11] nothingismagick commented on #24
Thanks for the comment! Well, there is always a sweet spot to be found between verbosity, accuracy and security. While I do like the theory behind `npx` I am not willing to recommend it. See here:

https://github.com/tauri-apps/tauri/issues/280#issuecomment-570825300

[2020-04-29 14:52] TheJaredWilcurt commented on #24
The `npx` part is just a placeholder until [`npm set-script start "tauri ."`](https://github.com/npm/rfcs/blob/latest/accepted/0016-set-script-command.md) is implemented. it's just easier than making a step saying:

[2020-05-06 18:29] Laegel commented on #4
A rustdocusaurus POC has been created. It's working, so far, but the transformation step needs improvements, as you can see here: https://tauri.netlify.app/docs/api/rust/tauri/enum.ErrorKind.

[2020-05-08 10:09] Laegel commented on #4
Okay, I'm facing multiple issues for turning HTML to MDX.

Limits:

- We **have** to use MDX to benefit Docusaurus page tools (navigation, anchors);
- `<T>` and `{`, `}` chars have to be turned into HTML entities or Docusaurus renderer fails to process the file;
- Self-closing tags **must** have a slash: `<br>` => `<br/>`;
- Everything enclosed by HTML tags will not be processed, even `<div markdo

[2020-05-08 12:59] mosheduminer commented on #4
@Laegel, if I understand correctly, you need to turn {}<> into html entities, but to not change <> when it is part of a tag (and not code)? I put together the following test code, where the test html is the same as what you posted, but with a <T> included in the code, plus a separate jsx component:

[code]

The first call to parser.write outputs:
[code]
And the second:
[code]
(with the caveat that

[2020-05-08 13:09] Laegel commented on #4
Thanks! Well, I've managed to turn special characters into HTML entities, this part is not a problem.
In fact, the points I've listed are criteria that should be fulfilled in order to obtain what we need.
The biggest issue so far is about having a nicely rendered code block and keeping the links in it. I'm reading your proposal, anyway.

[2020-05-08 13:17] mosheduminer commented on #4
Ah, I didn't realize before, you need to be able to use markdown inside the tags? I don't think my solution can cover that.

[2020-05-08 15:22] Laegel commented on #4
Yeah, by using custom React components (if possible) that would process the content as MD, for example. As adding the `markdown` attribute doesn't seem to allow the inner HTML rendering.

[2020-05-08 15:22] jbolda commented on #4
I think I would recommend rehype to handle this.

[code]
Link to live code: https://repl.it/repls/IdealisticDependentSampler

[2020-05-08 15:25] Laegel commented on #4
I could try again but with Rehype, yeah. I've been using Turndown to turn HTML to MD. I'll let you know if it's better.

[2020-05-09 18:21] Laegel commented on #20
Mermaid JS is ready, as you can see here: https://tauri.netlify.app/docs/usage/patterns
Now we need to have a decent layout.

[2020-05-09 18:34] nothingismagick commented on #19
do we want to retire the wiki?

[2020-05-09 18:38] Laegel commented on #19
IMO, it's no use to keep both. The goal of the Docusaurus was to merge the Wiki to the actual tauri.studio content, wasn't it?

[2020-05-09 18:41] nothingismagick commented on #19
Yes - I totally agree. It just wasn't clear from the issue topic. Great!

[2020-05-09 20:06] nothingismagick commented on #13
Can we source the code of conduct from a repo?

[2020-05-09 20:28] Laegel commented on #13
@nothingismagick What do you mean? Have a reference in the docs to a repo containing the CoC?

[2020-05-09 20:29] nothingismagick commented on #13
https://github.com/tauri-apps/tauri/blob/dev/.github/CODE_OF_CONDUCT.md

[2020-05-09 20:45] Laegel commented on #13
I don't think there's a builtin way to fetch the content and render it. We may create a component for that purpose.
Might be premature but we'll have to handle translation and I think having a copy in the docs will be mandatory.

[2020-05-09 21:05] nothingismagick commented on #13
ok

[2020-05-11 10:27] Laegel opened #30 "Improve configuration docs"
- Have a better way to show JSON props for tauri.conf.json, https://tauri.netlify.app/docs/config can be cleaner;
- Explain Cargo.toml properties.

[2020-05-12 16:51] tgregoirewright opened #44 "[docs] Running yarn tauri info before yarn tauri init produces error"
// Context from [Discord #help](https://discord.com/channels/616186924390023171/625037620996734986/709805684253786353)

The wiki section [05. Tauri Integration](https://github.com/tauri-apps/tauri/wiki/05.-Tauri-Integration) tells you to run `yarn tauri info` in step 2 and `yarn tauri init` in step 3. Overall, the implied order of operations leading up to and through step 2 is:
[code]

This produc

[2020-05-12 17:28] nothingismagick commented on #44
Hmm. Technically the cmd should work even without init. Thanks for writing the issue!

[2020-05-16 14:16] #20 closed, assigned to nobody

[2020-05-17 09:48] #4 closed, assigned to nobody

[2020-05-17 09:53] Laegel opened #31 "Generate and store JS documentation + automation"
Just like for the Rust side, the idea is to have the JS API documentation generated and stored automatically as MarkDown.

[2020-05-18 21:15] Laegel commented on #19
Right, I've moved the Wiki pages to the website. They need improvements but it can be done in a second time.

[2020-05-18 21:15] #19 closed, assigned to nobody

[2020-05-19 09:15] Laegel opened #32 "Recipes/cookbook => "How to""
The "Usage" section refers to the way one can read examples and learn techniques to use in their projects.

The goal is to have human readable (and intuitive) intentions associated to code in those pages.
We can already extract some parts from the existing "Usage" pages and develop them into dedicated pages (so the current content is less condensed and we can take time to explain things clearly).

[2020-05-19 21:19] LevitatingBusinessMan commented on #44
Can confirm, does not work.

[2020-05-20 13:59] #18 closed, assigned to nobody

[2020-05-20 14:13] Laegel opened #33 "Supported web technologies for Webview"
Nice suggestion coming from Discord:

Requires investigation, definitely an important information.

[2020-05-20 20:52] Laegel opened #34 "Fix "Getting started" diagram on mobile"
![getting-started](https://user-images.githubusercontent.com/3584791/82496123-7f7bca80-9aec-11ea-94da-a5e510287927.png)

Should be rendered vertically on mobile.

[2020-05-22 08:05] #34 closed, assigned to nobody

[2020-05-22 08:59] #21 closed, assigned to nobody

[2020-05-22 09:01] Laegel commented on #13
For now, a link to CoC appears here: https://tauri.netlify.app/docs/about/governance#code-of-conduct

I'm just moving this issue to the next milestone.

[2020-05-22 17:33] Laegel opened #40 "Make roadmap more intuitive"
Colors explaining a feature state from the roadmap is not explicit enough and not good enough for accessibility.

Since Docusaurus doesn't provide icons font, we need to pick one first.

[2020-05-22 17:51] Laegel commented on #40
@nothingismagick suggested https://themify.me/themify-icons

[2020-05-22 18:05] nothingismagick commented on #40
Here are the icons I chose for the last roadmap:

https://github.com/tauri-apps/tauri.studio/blob/02fc6aa9331a9c7300c67755f8efd8ef4b015f9a/docs-generator/src/pages/Landing.vue#L269-L454

[2020-05-22 18:06] Laegel opened #41 "Add the default Docusaurus "search" functionality"
Here's the doc to follow: https://v2.docusaurus.io/docs/search

[2020-05-22 18:33] Laegel opened #42 "Enable documentation versioning"
Sooner or later, we'll need to enable the docs versioning: https://v2.docusaurus.io/docs/versioning/

Since we're not stable yet, I'm unsure this should be done ASAP. But let's keep that in a corner of our heads.

[2020-05-22 20:33] Laegel opened #43 "Move "website" content in the root directory"
The actual structure is what it is because it's been initialized with Docusaurus V1. Nevertheless, Docusaurus V2 lets us move the whole content in the root directory.
Let's move it, for the sake of simplicity.

[2020-05-25 08:07] nothingismagick opened #47 "[patterns]: New pattern -> devtool"
So, with guijs and theia, we've seen a new pattern begin to emerge, and I think we should start thinking about adding a new pattern page. It is a "lowish-security" pattern, because we are currently shipping shell-script orchestrators in order to be able to kill spawned threads.

Nevertheless, it is a powerful and very useful pattern.

[2020-05-25 18:06] #40 closed, assigned to nobody

[2020-05-25 21:43] #43 closed, assigned to nobody

[2020-05-25 22:08] #22 closed, assigned to nobody

[2020-05-26 09:48] nothingismagick opened #50 "[building] - turn off panics"
While discussing errors, @wusyong recommended this approach:

https://github.com/tauri-apps/tauri/issues/613#issuecomment-633921807

Basically on release stop errors from propegating (because during reversing this information can be very useful to the attacker).

[code]

[2020-05-26 10:20] Laegel commented on #50
Should it be done manually or automatically on build?
Maybe automatically and optionally defined by users?

[2020-05-26 12:53] nothingismagick commented on #50
default: off, opt-in?

[2020-05-26 13:52] Laegel commented on #50
Maybe "on" for `tauri dev` and "off" for `tauri build` and let users force it globally.
That looks like something that should remain at dev level, right?
Anyway, this issue is not about specifications for this demand, I digress, haha.

Alright, I suggest to put that part in the current "App Publishing" part.

[2020-05-27 05:14] wusyong commented on #50
I found a [tweet thread](https://twitter.com/yaahc_/status/1265452360987361281?s=21) might be interesting to you. And [this article](https://www.joyent.com/node-js/production/design/errors) on "Operational errors vs. programmer errors".

So I pretty much agree to abort on panic in release build. Not sure what will `tauri dev` does internally. But if it's somehow equivalent to debug build in cargo,

[2020-05-29 09:31] nothingismagick commented on #41
Are we going to look into using meilisearch?
https://docs.meilisearch.com/resources/comparison_to_alternatives.html

[2020-05-29 10:13] #2 closed, assigned to nobody

[2020-05-29 10:13] #44 closed, assigned to nobody

[2020-05-29 10:16] Laegel commented on #41
Yup!
Since Docusaurus is React-based, we'll follow this guide: https://docs.meilisearch.com/instant-search-react-app/#introduction

[2020-05-29 16:30] TheJaredWilcurt commented on #24
This issue was closed, however the documentation is still confusing and makes it sound like yarn and scoop are a prerequisite for Tauri to work (HUGE turn off from an onboarding perspective).

After installing Node, you'll already have npm. You don't need to install scoop or yarn. these are just extra steps added to the barrier of entry that slow down and confuse new users and are additional point

[2020-05-29 16:38] Laegel commented on #24
You're right, sorry, I didn't notice you were talking about OS-specific installations. Alright, I'll try to rework those parts, too. Thanks for your insight!

[2020-05-29 17:04] nothingismagick opened #53 "need to make sure xcode is installed on MacOS"
Need to add this to the docs
`xcode-select --install`

[2020-05-29 17:58] nothingismagick commented on #24
Probably shouldn't have closed it on you sorry. I'd like to see your rewrite though @TheJaredWilcurt . How should we be saying this?

[2020-05-29 20:12] TheJaredWilcurt commented on #24
This is basically what you already have but simplified where possible.

* Each step is numbered, since almost every step requires going to a new tab or running a command in another window, this makes keeping track of what step you were on easier.
* Added in a note for WSL users so they know that their instructions are on another page. Not entirely sure if they should be on that page or not, but I

[2020-05-30 21:54] #53 closed, assigned to nothingismagick

[2020-06-01 11:58] Laegel opened #56 "Mask functionality"
Add docs about Tauri's Mask definition:

https://github.com/tauri-apps/tauri/blob/dev/maskfile.md

Need to define whether it should appear in "Usage" > "Development" or "API" > "CLI".

[2020-06-02 09:50] Laegel commented on #26
As discussed internally, it's planned to add the following items to the docs:
- details about Tauri CSP configuration in https://tauri.studio/docs/api/config;
- recipes for applied security in https://tauri.studio/docs/usage/recipes/security/introduction (not ready yet).

[2020-06-02 18:02] Laegel commented on #24
Hey @TheJaredWilcurt,

Thanks for your awesome comment.
I tried to mix your feedback to what we already had (see https://deploy-preview-57--tauri.netlify.app/docs/getting-started/setup-linux/, only "Setup Linux" is ready for now; the pages need refactoring).
Note that as Tauri is more complex to setup than Electron or NW.js, it's normal that we get extra instructions than they do.

Through these g

[2020-06-04 13:05] #24 closed, assigned to Laegel

[2020-06-05 11:16] TheJaredWilcurt commented on #24
https://github.com/MicrosoftDocs/edge-developer/issues/723#issuecomment-638642445

[2020-06-10 13:45] Laegel opened #59 "Tauri license compliance reports"
Add a section dedicated to license compliance reports, for both Rust & JS dependencies.
- need to determine whether it should be in "About", "Docs" or "API";
- generate Rust report with `cargo about`;
- generate JS report (https://www.npmjs.com/package/nlf, https://fossa.com/).

[2020-06-13 21:08] Laegel opened #60 "Improve API/CLI documentation"
Make the whole page cleaner.

[2020-06-15 21:26] Laegel opened #64 "Fill the cross-compilation page"
From https://github.com/jbolda/finatr/blob/next/.github/workflows/release-tauri-app.yml, add some explanations so people easily understand how to make their own workflow.

[2020-06-17 15:18] #30 closed, assigned to nobody

[2020-06-17 15:27] #60 closed, assigned to nobody

[2020-06-20 13:15] Laegel opened #68 "i18n Workaround"
## Context

Docusaurus V2 doesn't support i18n yet (see https://github.com/facebook/docusaurus/issues/2651).
The problem is that we're getting more and more non-English users interested in using Tauri and since automatic translation tools are limited, we need to provide a workaround to translate the most important parts of the documentation:

Landing / roadmap (pages/index.js)
What is tauri (docs/

[2020-06-26 12:59] Laegel opened #73 "Add a "Tips" section"
Create this section in the docs (Usage > Tips).
This section is supposed to bring useful clues to consumers so they can learn how to deal with some edge-cases, for example.

Add the following items:

-

It's one of the key differences between an app and a website.
Also remote assets are always a vulnerability.
- Make sure to make your app cross-browser compatible since Webview relies on different

[2020-07-01 10:11] Laegel opened #76 "Tauri showcase badges & moderation notice"
Since Tauri's major concern is about security, we'll provide audits to the projects registered in the showcase for a fee to our OpenCollective.
Those projects will get a badge (displayed in the showcase) as a gage of security:

![tauri-shield](https://user-images.githubusercontent.com/3584791/86231956-96a1e380-bb93-11ea-8a8a-c64cbd332687.png)

Tauri's `special focus` projects (like guijs) will get

[2020-07-01 10:20] Laegel opened #77 "Rust docs publishing automation"
Rust API docs should be automatically pushed on Tauri releases.

[2020-07-09 03:39] oren opened #84 "Error while installing dependencies on Ubuntu 16.04: E: Unable to locate package appmenu-gtk3-module"
[code]

---

[code]

[2020-07-09 07:51] nothingismagick opened #85 "Better information about not using a devserver"
https://tauri.studio/docs/usage/development/development

We need to tell people they can use `"devPath": "../dist"` - if they aren't using their own devserver.

[2020-07-09 15:12] Laegel opened #86 "Add a "Troubleshooting" section"
Contains all frequently encountered issues and how to solve them.
The most prominent problem solver being:
[code]

[2020-07-09 15:14] nothingismagick commented on #86
also updating the npm module there

[2020-07-09 18:55] hugohabicht01 opened #88 "Add install instructions for linux distributions that are not using apt, e.g. arch, fedora, etc"
It would be quite useful to add install instructions for other linux distributions as well, because the names of the needed packages are completly different and there are quite a lot of people out there who using stuff that isn't based on debian.

[2020-07-10 11:05] Laegel commented on #88
Hey @hugohabicht01, thanks for your insight.
There are many Linux distributions, we've started with Debian-based because it's the most common one.
But you're right, each distro may have its own specific setup. The current page layout will need some adjustments to show the various distros steps, I'll take care of that.
Suggestions of missing distros and instructions are welcome. :)

[2020-07-13 13:01] nothingismagick opened #92 "Add the GitHub extension instructions"
This needs to be extended:
https://tauri.studio/docs/development/publishing

with information about this:
https://github.com/tauri-apps/tauri-action

especially notable: you can just ship an app that has a dist (no tauri integration)

[2020-07-15 22:19] lucasfernog opened #95 "Feature request: anchor links on the api/config page"
Currently, the config page only have anchors on the main headings. It would be useful if we could anchor the inner properties aswell (seems like the `anchorify` class does nothing). I've tried to do it but there's a lot of relative positioning in there, so it needs a rewrite I guess.

[2020-07-15 22:27] Laegel commented on #95
It works (https://tauri.studio/docs/api/config#build.devPath) but it's missing the hash symbol that allows users to copy the reference on click. I wasn't sure people would use it so I didn't implement that yet.

[2020-07-15 22:52] lucasfernog commented on #95
Oh you're right I can do it manually. I guess we just need to let the team knows it so we can remember and use that when we help someone.

[2020-07-15 22:52] #95 closed, assigned to nobody

[2020-07-17 20:54] MRobertEvers opened #169 "Add Rust debugging instructions"
**Is your feature request related to a problem? Please describe.**
A debugger cannot translate bundled js back to source files. The 'debug' section of the website only describes how to debug via print statements. However, I think `tauri` could gain more mainstream popularity if users were able to use a debugger on both the rust code and the JS code. (The rust code is easy to attach a debugger alre

[2020-07-18 15:19] lucasfernog commented on #169
We're going to drop the tauri-inliner and use a [Rust approach instead](https://github.com/8176135/inline-assets-rs), see https://github.com/tauri-apps/tauri/pull/851

Yeah but I agree with you; we would love a PR resolving that. Could you add a section about "Debugging the Rust code" on the docs?

Btw the inliner is only required for the no-server mode (and the dev pointed to a folder), so we cou

[2020-07-18 16:25] MRobertEvers commented on #169
I can add a debugging rust code section. However, it would be VS-Code specific*. Unfortunately, I don't have a Linux or MacOS to test on. Somebody will need to help me verify any changes cross-platform.

* But VS Code just wraps a native debugger anyway.

Side note: I started learning Rust so I can use this project and I found this project yesterday. I'll be spending some time getting up to speed

[2020-07-18 16:42] lucasfernog commented on #169
Being specific to VSCode is fine I think. And I can test it cross platform.

[2020-07-19 19:47] jswhisperer opened #102 "[docs] differences in dev and bundle, running an exec process"
Very cool library I just wrote a [post](https://gregbenner.life/web-view-apps-on-your-os/) looking at similar

Looking at the docs I can't find a difference with dev and bundle for running a bundled binary like:
[code]

The dev works fine but the release hangs, I'm assuming it''s waiting for the server to exit. Do I need to include it as an "externalBinary" instead or run it as a spawned exec proc

[2020-07-21 13:36] #77 closed, assigned to nobody

[2020-07-25 23:25] Apogeum12 opened #107 "Error with build Rust example"
Comand : `cargo make run`
I get the error:
[code]
I try build example with clear rust
With node Work :+1:
[code]

Examples as so no clear. I want build app with backend rust and frontend with rust(this will the best). If I couldn't frontend rust that how other ? What is my frontend part what backend.
In my opinion is needed one very clear tutorial how build app from zero to debug in ONE techonolog

[2020-07-26 18:07] nothingismagick commented on #107
I agree that we need better documentation about how to do what it is that you want to do. Unfortunately, these examples are primarily for our core smoke-testing needs to make sure that builds actually continue to work. I am moving this issue to the documentation repo, because as things stand we don't hold anybody's hand when they are trying to integrate with their front end framework of choice.

[2020-07-27 14:57] zicklag opened #109 "[docs] It Would be Great to Have Minimal Example Applications for Most of the "Patterns""
I was just thinking that it would be great to have a minimal example application demonstrating the "Lockdown" pattern, but then I realized it would be good to have minimal demonstrations of each of the different patterns to show users what each one looks like in practice.

Obviously the ones that aren't ready yet don't need examples yet.

[2020-07-27 15:41] nothingismagick commented on #109
I totally agree - and we've been planning on rigging the `tauri init` with the opportunity to choose a pattern. Its just that we've been rather busy tidying up core. That's coming!

[2020-07-27 15:45] zicklag commented on #109
Sounds good. Keep up the good work! I *might* ( big might ) end up tackling some of this stuff. I've been really excited to get into Tauri for months and just got the chance to start using it. I'll probably be opening up issues for what I run into as I go and taking on the ones that I can.

[2020-07-28 16:26] #68 closed, assigned to Laegel

[2020-07-30 07:13] goldcoders opened #111 "[docs] added an example for svelte with tailwindcss"
if someone need a starter or a reference on tauri with Svelte and TailwindCSS

[Check This Repo](https://github.com/goldcoders/rhugos)

[2020-07-30 07:20] nothingismagick commented on #111
Great! Moving this to the docs repo - @Laegel, should we put this on the showcase?

[2020-07-30 09:08] Laegel commented on #111
That's awesome, @goldcoders , thanks for your initiative! Svelte and TailwindCSS are often mentioned, I guess it will help many people. :D

@nothingismagick : I wonder... I expected the showcase to be the page where we list built projects, not bootstrap/starter projects.
The current showcase page is still young and meant to evolve, that's for sure.
We may add that to the showcase with a nice filte

[2020-08-01 17:57] snnsnn opened #113 "Copy button on docs websites ads $"
Hi,

Copy button for terminal commands adds $ symbol at the beginning, you have to delete them manually after pasting to terminal, which defeats the whole purpose of copy button. It would be better if $ is implemented as css ::before content.

Thanks.

[2020-08-01 21:17] Laegel commented on #113
Hey @snnsnn !
Thanks for the issue. I agree with you, this `$` is quite annoying in this context. I'm not sure the CSS solution would help, though, since we can't determine easily what lines should get the symbol and which one shouldn't. Maybe removing the sign on copy would be better.

[2020-08-05 12:48] #113 closed, assigned to nobody

[2020-08-18 05:32] thomasmarkiewicz opened #119 "Architecture Error on Librem 5"
I am running into an "Architecture Error" while trying to build a simple React Tauri app on Librem 5 (aarch64).  Setting up of all tooling up to this point worked, but I get an error when running the final build.  Does tauri support running on aarch64?

[code]

[2020-08-18 16:04] thomasmarkiewicz commented on #119
Sorry, just realized I opened this in the wrong place.  Moving...

[2020-08-18 16:04] #119 closed, assigned to nobody

[2020-08-25 09:24] Akiyamka commented on #88
Hello @hugohabicht01,
I wrote the instruction for Fedora 32 Workstation, of which I am a user:
Some packages just debian specific, so they will have to be replaced with analogues:

- `libwebkit2gtk-4.0-dev` replace with `webkit2gtk3-devel.x86_64`
- `build-essential` tools in fedora located in group  "C Development Tools and Libraries".
- `libssl-dev` replace with openssl-devel
-  `appmenu-gtk3-mod

[2020-08-28 14:02] aafnnp commented on #27
it's necessary, I don’t know how to implement it.

[2020-08-28 14:25] Laegel commented on #27
Hey @funnyPan, you can find a small example right here: https://tauri.studio/en/docs/api/js/#process
Is it enough?

[2020-08-29 01:06] aafnnp commented on #27
not enough.

`import { open, save } from 'tauri/api/dialog'
open(...); save(...);
// alternatively:
import * as dialog from 'tauri/api/dialog'
dialog.open(...); dialog.save(...)`

such this.i don't know how to use it with arguments.

[2020-08-29 07:35] drmason13 opened #124 "[docs] broken link to rust api"
The link on this page: https://tauri.studio/en/docs/development/intro
Named "Rust API"
goes to: https://tauri.studio/en/docs/api/rust/tauri/config/fn.get

Which led to the tauri 404: Page Not Found

I'm browsing on Android Chrome.

[2020-08-29 07:37] drmason13 commented on #124
If there is a working link to the rust API please let me know because I'm still looking for it :D

[2020-08-29 08:07] Laegel commented on #124
@drmason13 Thanks for spotting this 404.
The Rust API can still be reached through API > Rust > [crate]. From there, you have a link for each Rust entity (function, struct, ...).

[2020-09-04 06:15] Grewer opened #160 "[docs] About the use of externalBin"
Now my project relies on a bin, and then I searched for the documentation, and found that the documentation was not so detailed

I added variable dependencies to the `externalBin` parameter of the file `tauri.conf.json`, just like the example:
[code]
According to the sentence in the document `This way, you may execute commands with Rust in your Tauri application.`
I also need to write a method to

[2020-09-06 14:41] p32929 opened #126 "[docs] Window show, hide, minimize, maximize, unmaximize, setAlwaysOnTop, setFullScreen etc"
First of all, I wanna say, I've been using ElectronJS before. But now using Tauri. So far, I'm loving it. Thank you so much for creating Tauri.
( I'm not really sure, where to put this issue, whether in DOCS or FEATURE REQUEST )

So, I actually made a Pomodoro app for me to `force` myself every 25 minutes to take a break using ElectronJS. I've been so frustrated about how much RAM/CPU ElectronJS a

[2020-09-06 17:10] Laegel commented on #126
Hey @p32929 , thanks for your request!
Just moving it to the appropriate repo. :)

[2020-09-19 17:31] amrbashir commented on #88
# Arch
### Install all with one command:

`pacman -S webkit2gtk base-devel openssl appmenu-gtk-module
gtk3 curl squashfs-tools`

### Packages Are:
 1. `webkit2gtk` replaces `libwebkit2gtk-4.0-dev`
 2. `base-devel` replaces `build-essential`
 3. `openssl` replaces `libssl-dev`
 4. `appmenu-gtk-module` replaces `appmenu-gtk3-module`
 5. `gtk3` replaces `ibgtk-3-dev`

**Packages you might need for bu

[2020-09-20 11:13] #88 closed, assigned to nobody

[2020-10-16 10:34] Laegel opened #133 "Troubleshooting - blank page in built app context"
Build resulting in a blank page with the following backtrace:

thread '<unnamed>' panicked at 'Could not read asset tauri/build/index.tauri.html', .cargo/registry/src/github.com-1ecc6299db9ec823/tauri-0.9.2/src/server.rs:13:25
stack backtrace:
   0: <std::sys_common::backtrace::_print::DisplayBacktrace as core::fmt::Display>::fmt
   1: core::fmt::write
   2: std::io::Write::write_fmt
   3: std::pa

[2020-10-16 13:56] aleksey-hoffman opened #159 "[docs] Changes to Tauri-Electron comparison list"
Hey guys, I just discovered Tauri, and I already love it, great job!
However I think that the feature comparison list needs some work. It needs more of useful information and less of weird information on it.

Now, let's break down some of the metrics on the comparison list:

## 1. Can Render PDF (Tauri: yes; Electron: no)
If by "rendering" you mean "displaying PDFs", then the comparison is false,

[2020-10-18 19:22] nklayman commented on #159
Thanks for the suggestions! These all make a lot of sense. The PDF one was added when Electron had a bug that prevented it from displaying PDFs, so that should really be updated (or removed IMO). I'm not sure why Electron was marked as unable to multithread. Splashscreen support means that a separate window can be displayed while the main window is loading in parallel, so it's a little better than

[2020-10-18 21:12] aleksey-hoffman commented on #159
@nklayman thanks for considering these changes, glad they make sense to other people as well.
That's a good idea to test it in VMs. I think it would make sense to compare the performance of the "bare bones" test apps based on the same framework (e.g. your Vue plugin) as well as more complex "real life" apps (in the future), and to include multiple speed metrics:
- App launch speed
- Dev server com

[2020-10-21 23:05] seanybaggins opened #135 "Reconsider where the words "Rust" and "Javascript" are used within examples and documentation."
**Is your feature request related to a problem? Please describe.**
I have found throughout the documentation, that the front end is assumed to be written in javascript and the back end Rust.

This assumption makes reading documentation and examples very confusing if you are writing the front end in Rust/wasm

Specific example. **Send event to Rust**
![image](https://user-images.githubusercontent.c

[2020-10-22 09:16] nothingismagick commented on #135
That's a really good point, however I would like to remind you that WASM is always run in a javascript context and without that JS wrapper, there is no WASM. In fact, you actually lose a number of memory protection mechanisms by using WASM in the front end. If you haven't watched this presentation, then I highly recommend you do so at your earliest convenience:

https://www.usenix.org/conference/u

[2020-10-23 08:46] timfish commented on #159
The comparison table also says Electron doesn't support "no localhost". What does this mean? It's possible in Electron to run without connecting to localhost...

[2020-10-29 03:57] nklayman commented on #159
Yep, I updated the PR to remove that as well.

[2020-11-07 17:33] #27 closed, assigned to nobody

[2020-11-30 08:27] drmason13 commented on #124
Hiya, I found the broken link.
It's in docs/usage/intro.md

docs/en/usage/intro.md

tauri needs replacing with tauri_api in the URL

https://tauri.studio/en/docs/api/rust/tauri_api/config/fn.get/

Assuming that's the equivalent.

The crate's standard rust docs are also helpful:
https://docs.rs/tauri-api/latest/tauri_api/

[2020-11-30 11:14] Laegel commented on #124
Thanks @drmason13 ! This is something that's missing and should be improved, indeed. :+1:

[2020-12-15 16:05] Laegel opened #143 "Migrate to Docusaurus builtin i18n"
Since Docusaurus V2 has now a builtin support for i18n, it's better to use this system.
We also need to check the way its interact with Crowdin.

https://github.com/facebook/docusaurus/pull/3325

[2020-12-25 15:03] mihai-dinculescu opened #154 "[docs] Is there a way to set an application name that contains spaces?"
Is there a way to set an application name that contains spaces?

As far as I can see, the application name, and subsequently the folder in which the application will be installed, is configured by the name property from Cargo.toml. This is very limiting, as it doesn't allow spaces, and results in ugly application names.

[2021-01-06 08:16] nothingismagick opened #145 "js api examples"
We should really have at least one example for each JS API call, see:

https://github.com/tauri-apps/tauri/discussions/1134

[2021-01-22 19:34] jmrossy opened #148 "Validation App from Tauri homepage doesn't open on MacOS without ctrl-click"
**Describe the bug**
The example [validation app](https://github.com/tauri-apps/tauri/releases/download/0.5.2-binaries/app.dmg) from the homepage top banner doesn't open on Mac. MacOs rejects it because it isn't signed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tauri.studio/en/partners
2. Click on macOS - Dmg link on top banner
3. Install app
4. Try to launch app

**Expec

[2021-01-25 02:23] nklayman commented on #135
Would it be better to copy electron and use main/renderer process for simplicity? Backend/api could easily be confused with a cloud server in some cases (ie "send message to backend" or "request with the api").

[2021-01-26 11:17] nothingismagick commented on #148
This is a problem, and I think it has to do with a couple things:
1. we are not recreating (and signing) these apps on releases (which we should absolutely do)
2. the docs site is are not pulling from the latest release samples (at the moment it is a manually entered link)

@jbolda & @rajivshah3 - what do you think we can do about number 1?
@Laegel - what do you think we can do here about number 2

[2021-01-26 11:19] nothingismagick commented on #148
@jmrossy - on a mac you do have to ctrl - click the app when you open it the first time and override the missing signature.

[2021-01-26 11:20] nothingismagick commented on #148
I am going to move this issue to the docs site and rename it. Thanks for the report!

[2021-01-26 11:21] nothingismagick commented on #148
Regarding the code-signing, I think that we should have that done (and configurable) within the github action

[2021-01-26 11:36] Laegel commented on #148
@nothingismagick For 2: I think we'll need to get Tauri's latest tag on the docs website, anyway. Doing this would allow us to create built apps links automatically (if we build each time there's a new release, of course).
To get the latest tag, we can either inject a new environment variable (I guess the current action that rebuilds the docs would perfectly fit), consumed when building the docs o

[2021-01-27 14:30] Laegel opened #149 "macOS troubleshoot"
Add a warning in macOS setup page for xcode.

See https://github.com/tauri-apps/tauri/issues/1150#issuecomment-768310979

[2021-01-28 12:09] Laegel opened #150 "Update patterns so they fit latest features"
For example, https://tauri.studio/en/docs/guides/patterns/bridge is not up to date.

[2021-01-30 04:31] jbolda commented on #148
How do we want to version (if at all) the validation app? it doesn't exactly track 1-to-1 with `tauri.js`, does it? Since other deps could affect it as well.

[2021-02-06 09:27] Laegel opened #156 "Setup wry documentation"
May require to clean the current Rust docs and reorganize the current structure.

https://github.com/tauri-apps/wry/issues/13

[2021-02-07 13:14] Laegel commented on #41
Using https://github.com/meilisearch/docs-searchbar.js for the website integration
We now need to decide:
## How to index our docs
- from the repo, creating a JSON file with a script;
- with MeiliSearch scrapping tool: https://github.com/meilisearch/docs-scraper.

I'd say the former is more efficient than the latter but way harder to setup.

## Where to host MeiliSearch engine
- DigitalOcean;
- Ne

[2021-02-07 13:55] nothingismagick commented on #41
lets do digital ocean, we have credits there

[2021-02-08 16:45] nothingismagick commented on #148
update on every core / tauri.js change?

[2021-02-08 17:28] lucasfernog commented on #148
every core release should have the validation app on the Github release assets. But that will be tricky since I believe we don't have a certificate for code signing / notarization on macOS?

[2021-02-08 17:37] Laegel commented on #41
Tauri's MeiliSearch engine is up and lives at https://search.tauri.studio
Next step: indexing content in a GitHub Action, right after all docs have been created/updated.
We should push a new indexation for each release: `https://search.tauri.studio/indexes/{{TAURI_VERSION_TAG}}/documents` in order to have proper versioning.
Note: `TAURI_VERSION_TAG` should use underscores instead of dots, dots not

[2021-02-08 17:52] nothingismagick commented on #148
I will sponsor this certification process from Apple Developer. Might take a few days to get it all sorted out though, and I am not sure yet WHICH company will be registered, there are a couple options... Lets discuss this in #core

[2021-02-08 20:44] jbolda commented on #148
For the "version" of the app, should we adopt the tauri core version number then? As tauri.js will mostly be a light wrapper, it seems fine to mirror the core version.

[2021-02-08 23:20] Laegel opened #158 "Update Technical Details page once wry is integrated"
See https://tauri.studio/en/docs/getting-started/technical-details

[2021-02-14 22:05] #41 closed, assigned to nobody

[2021-02-19 17:15] bobaekang opened #162 "White GitHub logo on the navbar becomes invisible on light theme"
Thanks for working on a great project.

I just noticed that switching to the light theme makes the white GitHub logo on the navbar invisible against the white background. See the screenshots below:

**On dark theme**
<img width="412" alt="image" src="https://user-images.githubusercontent.com/22449454/108537150-e2c8a200-72a2-11eb-9673-bcf01a9539d7.png">

**On light theme**
<img width="412" alt="ima

[2021-02-19 21:10] Omar-Elrefaei commented on #233
Yes, I think there definitely should be an asterisk beside that `No` to explain. Especially because both Tauri and Electron repos are MIT licensed.

[2021-02-21 09:39] nothingismagick commented on #233
The ostensible license is one thing, but the upstream licensing nightmare that is Chromium is another thing entirely. Is widevine enabled? How did ffmpeg compile (with non-gpl?)? Are all files properly marked with inline licensing notes? There is a very, very long history of problems that Chromium has and explain why it won't, for example, ship on freedom-respecting operating systems (without you

[2021-02-21 09:46] nothingismagick commented on #233
But I see what you mean @Omar-Elrefaei. At one point we did have these references, but I think that they got removed. I will link people to this issue (both from the website and from the main readme).

[2021-02-21 09:48] nothingismagick commented on #233
Something we WILL have to consider though, is that unfortunately webview2 on Windows is in fact Chromium based. So we will need to be quite clear that building for Windows is optional, but not as freedom respecting as building for Linux / MacOS.

[2021-02-21 10:05] nothingismagick commented on #162
Oh wow - thanks for the headsup! Maybe the quick fix is to give the logo a background color the same as the dark header bar.

[2021-02-21 20:45] Laegel commented on #162
Whoopsie, I forgot that.Thanks @bobaekang !

[2021-02-22 13:03] surendrajat opened #165 "Hosted fonts"
Hi. My tracker-blocker is blocking `https://fonts.googleapis.com/css?family=Tauri&display=swap` and the page doesn't look so good without it. Could you please host this font with other static stuff?

[2021-02-22 13:09] Laegel commented on #165
Hey @Surendrajat ! Thanks for your issue, we'll consider another solution for the fonts.

[2021-02-22 13:12] CrashLaker commented on #25
Hi guys.

I just started using tauri.
I'm having the same issue on windows servers (2016, 2019) which I guess doesn't come with edge or the engines installed.

So opening in windows server 2016 gives me this:
![image](https://user-images.githubusercontent.com/4432491/108712126-17cc3300-74f5-11eb-90cc-6c0ef66c9157.png)

In windows server 2019 only shows a blank screen.

Unless I install the step 7

[2021-02-23 06:46] nklayman commented on #25
WebView2 is the only option for Windows versions <10 (besides installing Edge manually). The next Tauri release will drop support for EdgeHTML anyways, and it will create installers that can automatically download WebView2 if the user doesn't have it installed already, supporting windows versions 7-10. While the installer is quite large, Windows will ship with it preinstalled soon and it only need

[2021-02-23 06:46] #25 closed

[2021-02-23 06:49] nklayman commented on #159
I apologize for the long delay here, just waiting for the custom protocol to be all ready before doing the performance benchmarks.

[2021-02-23 12:38] CrashLaker commented on #25
Hi @nklayman, thank you for your reply.
I'm not familiar about all these web engines (EdgeHTML, WebView2, MSHTML). Is there a place you recommend looking for further understanding?

Also as I've mentioned above my demo app just breaks when trying to use WebView2 (`WebView2Loader.dll`). Is this expected? How could I work around this?

When you say Tauri will be dropping support for EdgeHTML you mea

[2021-02-23 18:26] nklayman commented on #25
MSHTML is the old, Internet-Explorer based WebView. EdgeHTML is a newer, Edge-based WebView. WebView2 is the latest, Chromium-Edge based WebView, and will be exclusively used by Tauri from the next release on.

As for the .dll issue, I'm not sure what could be wrong. It just works fine for me as long as I've [downloaded it](https://developer.microsoft.com/en-us/microsoft-edge/webview2/#download-se

[2021-02-23 22:00] genderev opened #166 "[docs] Broken link"
The link to the [Rust API](https://tauri.studio/en/docs/api/rust/tauri/config/fn.get) is broken.

[2021-02-23 22:01] genderev commented on #166
I saw the broken link on the [Introduction](https://tauri.studio/en/docs/usage/intro) page.

[2021-02-23 23:16] nklayman commented on #166
I just removed the link since there isn't a good place to link to really. The next release will totally revamp the docs anyways, so it won't matter for long. Thanks for noticing and reporting!

[2021-02-23 23:16] #166 closed, assigned to nobody

[2021-02-24 20:46] CrashLaker commented on #25
I see thank you for the info @nklayman

As older windows such as srv 2016 eol is due to 2022 (mainstream) and 2027 (extended) i suppose they'll remain around.

for the time being is it possible to use an older version of tauri + mshtml?

[2021-02-24 20:50] nklayman commented on #25
I'd advise against using an older Tauri version. It'd probably be better to use the unreleased code from the dev branch which uses the new Webview2 loading process. That should work on older windows versions as long as they have Webview installed. See the .github/contributing.md file for instructions on using the development branch. However, the current Tauri version is supposed to work with webvi

[2021-02-25 20:24] nklayman commented on #169
I've renamed and moved this issue as per the new direction it has taken. Also, we've recently completely removed the inliner, so the original issue shouldn't be present any more.

[2021-02-27 11:36] #162 closed, assigned to nobody

[2021-02-27 16:10] bobaekang commented on #165
@Laegel Using fontsource would be a good option to address this. See [here](https://github.com/fontsource/fontsource/tree/master/packages/tauri).

[2021-02-27 18:34] Laegel commented on #165
Thanks @bobaekang , that's definitely an interesting repo I didn't know about!

[2021-02-28 14:11] #165 closed, assigned to nobody

[2021-02-28 14:23] surendrajat commented on #165
Thanks @Laegel, for the quick fix. Works well.

[2021-02-28 18:45] nklayman commented on #159
PR merged :tada:

[2021-02-28 18:45] #159 closed, assigned to nobody

[2021-03-16 08:20] Laegel opened #177 "Requested translations languages"
Spanish, Italian, Japanese and German languages added by request of translators.

[2021-03-16 13:27] natastro commented on #177
Hello! I'd love to help with Spanish translations if needed. Thank you!

[2021-03-19 21:25] Laegel commented on #177
Hey @natastro ! Thanks for your proposal. We first need to release Tauri's Beta RC with updated docs, then we'll enable these new languages in Crowdin. We'll let you know when we're ready for the next steps. :D

[2021-04-07 04:37] jensim opened #180 "New: Starting a new project docs page"
There is no page for stating a new tauri project, but 4 pages on retrofitting it into an existing one.

If we want tauri to be a thing, we need a community, and to have that we need to be welcoming, in spirit, code, and docs. The docs is where people end up who have seen the first youtube intro, and want to get started coding. Lets not loose our potential new community members in the menu.

I move

[2021-04-08 09:08] Laegel commented on #180
Hey @jensim , thanks for your feedback!

This is the first time I hear the docs are hard to get into, I apologize for this difficulty. The goal was indeed to make it as simple as possible with the smoothest experience possible, by ensuring any people coming from Rust or JS world is able to use Tauri thanks to an explicit documentation.
I'll review your PR ASAP!

[2021-04-08 09:22] nothingismagick commented on #180
FYI - @nklayman mentioned that you should actually have PR'd against the `feat/beta-rc-update` branch, not `dev`.

[2021-04-14 23:16] #32 closed, assigned to nobody

[2021-04-14 23:16] #64 closed, assigned to nobody

[2021-04-14 23:16] #126 closed, assigned to nobody

[2021-04-14 23:16] #150 closed, assigned to nobody

[2021-04-14 23:16] #156 closed, assigned to nobody

[2021-04-14 23:16] #158 closed, assigned to nobody

[2021-04-14 23:16] #169 closed, assigned to nobody

[2021-04-17 10:53] jensim commented on #180
Beta has landed, and I ported my changes to a new branch based on dev here: #185

[2021-04-19 14:17] Beanow commented on #76
When working out the specifics, should make sure we're not running into issues making a 'quid pro quo' donation. Possibly we need to treat it as compensation, not a donation.

[2021-04-20 06:46] Laegel commented on #180
Hey @jensim , let us know if you could use some help!

[2021-04-22 05:25] jensim commented on #180
Thanks @Laegel 🥳👍🏻
Im balancing time shortage against multiple OSS engagements
This is first among the ones I dont own myself

If im too slow, this could be up for grabs
I need to learn more about Tauri in order to do this I think 🤷
But if we are not in a hurry, or this is not in line for prio, I'll be picking it up when I have learned more

Thanks for being so supportive and welcoming 😊

[2021-05-02 04:33] bronson opened #203 "[docs] Unprepared to answer tauri init questions"
While reading your setup docs, I feel unprepared for the questions `tauri init` asks.

I wanted to play around with Tauri so I went to set up a new app. Had smooth sailing until "Initialize Tauri in Your App" on https://tauri.studio/en/docs/development/integration

I'm told to run `yarn tauri init`. Sounds sensible.

It asks `Where are your web assets (HTML/CSS/JS) located, relative to the "<curre

[2021-05-02 12:01] Laegel commented on #203
Hey there @bronson , thanks for your feedback!
Seems like you are creating an app from scratch, while this guide assumes you already have a web source code.
We're currently working on a scaffolding project: create-tauri-app, that directly addresses your problem. We'll provide a guide as well when it's ready. :D
You may track [this issue](https://github.com/tauri-apps/tauri-docs/issues/180), which

[2021-05-02 14:58] nothingismagick commented on #203
@bronson your questions are REALLY valid. Thankyou for bringing it to our attention. One thing that we hope, is that as we polish off this release candidate, such inconsistencies in the developer experience fade to the edges.  Maybe one thing to do here may be to hook the create-tauri-app directly from the init entry point. @jbolda - what do you think?

[2021-05-02 15:07] jbolda commented on #203
@nothingismagick I'm not quite certain what you mean. If I'm understanding correctly, we do that already and set these specific values for each framework.

[2021-05-02 15:20] nothingismagick commented on #203
No, I am suggesting we offer to hook out to CTA here:

https://github.com/tauri-apps/tauri/blob/dev/tooling/cli.rs/src/init.rs

[2021-05-02 16:34] Laegel commented on #203
Not sure to understand either: isn't create-tauri-app supposed to run `init` once everything is scaffolded?

[2021-05-02 16:35] nothingismagick commented on #203
Other way around. Let's ask them on init if they want to create first.

[2021-05-04 14:29] jbolda commented on #203
Oh interesting. We can always open with the description of what `init` is expecting to have in place and what it will do / ask. In there we can mention CTA as an alternative if they are just interested in kicking the tires. 👍 I like the idea. We can do the reverse in CTA. I need to link out to setup steps and such for people using it for the first time anyways.

[2021-05-04 23:03] g-berthiaume opened #205 "Book update"
The official Tauri documentation [mentions](https://tauri.studio/en/docs/about/book) a book coming in "late 2020".
This kind of info is hard to maintain in docs, so I thought I would report it.

Looking forward to reading it !

[2021-05-05 07:44] nothingismagick commented on #205
You are very right - that was planned before we all got hit with Covid fatigue. We anticipated hitting beta much sooner too, now that the beta & stable are just around the corner we will be getting back to this. Thanks for the reminder!

[2021-05-05 07:44] #205 closed, assigned to nobody

[2021-05-06 12:39] g-berthiaume commented on #205
I think we can all relate to that. Keep up the good work.

Merci et bonne journée.

[2021-05-07 08:04] drmason13 opened #206 "KC of I'll be brr SF oGC cc cc fvh"

[2021-05-07 08:07] #206 closed, assigned to nobody

[2021-05-07 08:08] nothingismagick commented on #206
An interesting proposition, to be sure. Not clear how to actually do such a thing, but I too hail our feline overlords.

[2021-05-08 11:28] drmason13 commented on #206
Sorry about this! I think I pocket-dialled github...

[2021-05-08 16:01] nothingismagick commented on #206
glad it wasn't https://www.reddit.com/r/ihadastroke/

[2021-05-10 01:08] Zulko commented on #26
Hello! Thanks for the great project. I believe I have the same question as the original poster. In particular, is it possible to de-activate CORS checks in Tauri?

[2021-05-10 11:59] nothingismagick commented on #26
Wow, this is an old issue.

Anyway, to turn off the CSP in the webview, do this:

[code]
However, this really only **limits** what the webview can do. If you want to sidestep CORS restrictions, then you need to perform your request outside of the browser context. This article is a great read: https://blog.container-solutions.com/a-guide-to-solving-those-mystifying-cors-issues

So, if you wanted to

[2021-05-10 11:59] #26 closed, assigned to nobody

[2021-05-19 01:56] Grewer commented on #160
any update?

[2021-05-19 01:59] lucasfernog commented on #160
We've added a JS helper for this: https://tauri.studio/en/docs/api/js/classes/shell.command#sidecar

There's a few open source projects that might inspire you with the configuration of the `externalBin`: https://github.com/tauri-apps/tauri-theia and https://github.com/Akryum/guijs/tree/master/packages/%40guijs/tauri-app

I'll write a detailed guide this week, but i hope this helps you :)

[2021-05-19 01:59] #160 closed, assigned to nobody

[2021-05-21 11:02] onaxon commented on #203
I have had the same Huh?s as @bronson.

I think it would be useful for newbies like me to give some sample answers in the guide for the main frameworks. I have used Svelte and my answers have been these (it seems correct):

[code]

[2021-05-21 11:07] onaxon commented on #203
Also the output example in the guide looks like it is not from Beta version but an older version. This is the output that has been produced on my system:
[code]

[2021-06-05 12:34] lucasfernog commented on #233
@nothingismagick any updates on this one?

[2021-06-07 21:04] jonmadison commented on #203
Tauri works with several frameworks. The thing that had been the most confusing to me is that the documentation to "create a tauri app" is essentially, create a new <whatever other framework app>, go into its directory, then run the steps.  This didn't become apparent to me until i stumbled upon a "tauri-react" package.

i.e.

[code]

then things make sense (except for the api question :)

Autodet

[2021-06-08 10:56] SOVLOOKUP opened #234 "[docs] External Binaries Path"
Docs of Embedding External Binaries outdated in https://tauri.studio/en/docs/guides/bundler/sidecar:
![image](https://user-images.githubusercontent.com/53158137/121172285-1b0fe280-c88a-11eb-998d-84ca0621fee5.png)

Docs of command api 404 :
https://tauri.studio/en/docs/api/rust/tauri_api/command/fn.spawn_relative_command#function-tauri_apicommandspawn_relative_command

It seems that command api has

[2021-06-08 11:36] Laegel commented on #234
Hey @SOVLOOKUP , thanks for noticing this!
This is an old link, indeed, and it seems it's still appearing in the search results when it should not.

[2021-06-08 12:19] SOVLOOKUP commented on #234
thanks for reply~ Could you give me some instructions about how to execute the embedded binary at the runtime? I cannot find enough docs to guide me...

[2021-06-09 10:19] JonasKruckenberg commented on #234
https://tauri.studio/en/docs/api/rust/tauri/api/process/struct.Command#pub-fn-new_sidecars-intostringprogram-s---resultself worked for me, note though that the path is relative to the compiled binary (so it's relative to /target/debug) not to your source files (This caused me some confusion)

[2021-06-17 07:21] SOVLOOKUP commented on #234
I found a demo of this.

https://github.com/Akryum/guijs/blob/40051bf07a2b9dc8dd0be19d15de93a84bed726c/packages/%40guijs/tauri-app/src-tauri/src/main.rs#L186

[2021-06-17 07:22] #234 closed, assigned to nobody

[2021-06-17 11:26] lucasfernog commented on #234
The updated docs was merged on the main repo yesterday and will be available on the next release.

[2021-06-25 02:08] thadguidry opened #241 "Contributing guides, let's sort those out, and get consensus"
Currently it seems the canonical [CONTRIBUTING.md](https://github.com/tauri-apps/tauri/blob/dev/.github/CONTRIBUTING.md) file within Tauri's main repo has most of all the details I'd expect as a new developer coming into this wonderful community.  Irregardless of contributing Code, or Documentation, or hacking on improving the CI/CD.  It basically has the "rules" or the "do's and do not's" of how

[2021-06-25 02:12] thadguidry commented on #241
Issue #23 basically describes a bit of the QUICK START idea and I guess why it has come into fruition.  But we still need this issue to sort things out and come to some consensus on the previous comment.

[2021-06-26 18:23] Laegel opened #247 "Rustdocusaurus generated links for "Defined in" are not correct"
Replacing values seem to fail.
Also, careful not to replace links from outer projects:

![image](https://user-images.githubusercontent.com/3584791/123522221-4b45e680-d6bc-11eb-9d49-b5bba9bbb626.png)

[2021-06-27 04:20] thadguidry opened #249 "Add caution admonition to ensure users check for 'tauri:' in CSP output"
Based on [comment](https://github.com/tauri-apps/tauri/issues/2089#issuecomment-869054772) from @nothingismagick
, we probably should do the follow tasks:
- [ ] use a [docusaurus `:::caution` admonition](https://docusaurus.io/docs/next/markdown-features/admonitions) to ensure that folks are aware to check for `tauri:` in the CSP output from `tauri info`.
The best place for this admonition would pr

[2021-06-29 07:39] nothingismagick opened #252 "tauri.conf.json, package.json, Cargo.toml"
There are many places to configure things, and we need to do not only a better job documenting all the possibilities, but also explain how they interact and impact a project.

I am thinking we need a whole section about this, with a general overview and then individual pages for each of these.

[2021-06-29 07:51] Laegel commented on #252
I guess being more explicit for package.json and Cargo.toml is respectively for Rust devs and JS devs who may be lost, right?

[2021-06-29 07:54] nothingismagick commented on #252
Yeah, I think everyone should be able to inform themselves of what everything means to tauri, regardless of where they come from.

[2021-07-02 12:49] regnisolbap opened #255 "Command mutable atomic state"
It would be nice to add an example of mutable atomic state to the `tauri::app::manage` docs like:
[code]

Maybe also it could be useful to have every example from the docs of that `tauri::app::manage` function in the `Create Rust Commands` guide. Finally, worth mentioning that state could be accessed from a `Manager` impl (eg. `app` inside the `setup` function) with `manager.state::<T>()`.

[2021-07-04 17:41] Laegel commented on #247
Fixed!

[2021-07-04 17:41] #247 closed, assigned to nobody

[2021-07-06 23:07] ppom0 opened #257 "Error in CLI json"
In the en and [fr](https://github.com/tauri-apps/tauri-docs/blob/f488410eb02991522f38e45e8b1c9d4fd7c9f1e3/docs/fr/usage/guides/cli.md) markdowns, there is an error in heading "Flag arguments":
[code]
should be:
[code]

[2021-07-10 10:55] #124 closed, assigned to nobody

[2021-07-10 10:56] #31 closed, assigned to Laegel

[2021-07-10 10:57] Laegel commented on #33
http://html5test.com/
https://developer.mozilla.org/en-US/docs/Web/API/CSS/supports
https://developer.mozilla.org/fr/docs/Web/CSS/@supports

[2021-07-12 01:15] parker-codes opened #692 "Official RIIT (Rewrite it in Tauri) Standpoint?"
I think the recent tweets to rewrite-it-in-tauri (like the one about Slack) has been inspiring community members to push for it in other projects. 😁 I think it's great to offer ideas and get the word out there, but I worry a little that some of these unofficial cases will be discounted because Tauri is in beta and then may not be considered again once things are stable.

I'm _guessing_ that some o

[2021-07-12 01:40] parker-codes commented on #692
This is obviously not just a Tauri thing. This applies to any project, but especially innovative newcomers. My thoughts were just to proactively influence the external outreach.

[2021-07-17 13:11] 6543 opened #259 "make create-tauri-app visible / mention in docs as easy start"
Make this command visible in docs and mention it as one of the easyest ways to o start with tauri

[code]
or
[code]

[2021-07-19 14:05] Laegel commented on #259
Hey, thanks for this issue. I've already started working on it, although there was no related issue.

[2021-07-24 20:03] ulvido commented on #203
I am new to tauri and "tauri init" process confusing for me too.

`Where are your web assets (HTML/CSS/JS) located, relative to the "<current dir>/src-tauri" folder that will be created?:`
there aren't any... I have nothing yet. just created a tauri project. what should I do?

`What is the url of your dev server?:`
should it include port or not? or includes http at the start? http://127.0.0.1, htt

[2021-07-25 19:00] MrManiacc commented on #203
I second this, the use of "path" vs "url" makes more sense in this context. While it is technically a URL, it can be confusing to some.

[2021-08-03 11:40] designingSparks opened #263 "Getting started documentation needs work"
This is still a problem. After following the introduction [here](https://tauri.studio/en/docs/development/intro), the next logical step is to set up a project. From the website, the next step after setup is Tauri Integration. This page here needs serious work for newcomers: https://tauri.studio/en/docs/development/integration
For example, it tells you to start by entering at the command line: `yar

[2021-08-08 13:36] ldgrp opened #265 "Bridge Pattern - Outdated documentation"
It appears the configuration section on the Bridge Pattern is outdated.

After setting up my `allowlist` as suggested in the link below I received the following error
https://github.com/tauri-apps/tauri-docs/blame/dev/docs/en/usage/patterns/bridge.md#L93-L96

[code]

According to the [api documentation](https://tauri.studio/en/docs/api/config#tauri.allowlist.fs), it appears these properties are no

[2021-08-21 21:09] kornelski commented on #263
Indeed. The dev server thing surprised me too. I've entered `localhost`, and then the app wouldn't start, because apparently that isn't valid. But the tutorial didn't say what format it wants it in, and what even the server is used for. Is it even used? I thought the app logic was in Rust, not Node.js.

[2021-08-21 21:15] kornelski opened #274 "Getting started tutorial doesn't explain where HTML/CSS go"
The getting started tutorial at https://tauri.studio/en/docs/development/integration

mentions using Vue ("If you are using Vue CLI"), but doesn't explain what to do if I'm *not* using Vue.

I've followed the tutorial to the end. I've got the Rust side working, but the window is completely blank. If I inspect it, it's just an empty body. There's no HTML anywhere in my project, and I'm surprised th

[2021-09-23 07:58] DblK opened #284 "[docs] Add Visual screenshot to see what is look like on different platform"
Before starting implementing some stuff like menu or system tray I wish I could see how it will render.

The documentation in those parts ([Window Customization](https://tauri.studio/en/docs/usage/guides/visual/window-customization), [Window Menu](https://tauri.studio/en/docs/usage/guides/visual/menu) and [System Tray](https://tauri.studio/en/docs/usage/guides/visual/system-tray)) would be better

[2021-09-30 08:09] zoubingwu commented on #109
How it this going or is there any example project on GitHub? Did some search but couldn't find one 😢

[2021-09-30 16:10] FabianLars commented on #109
@zoubingwu Nothing new in that regard. The best practice atm is to just keep your `allowlist` as minimal as possible (only enable the stuff you actually use)

[2021-10-03 09:15] LukasDoesDev opened #290 "Pacman/Arch dependencies"
Can the `--needed` flag be added to the Pacman/Arch dependencies command at [the Linux setup page](https://tauri.studio/en/docs/getting-started/setup-linux)?

[2021-10-03 09:15] LukasDoesDev commented on #290
It will skip all dependencies which are up to date and installed.

[2021-10-03 09:19] FabianLars commented on #290
https://github.com/tauri-apps/tauri/pull/2666
already done, but not published.

[2021-10-03 09:23] LukasDoesDev commented on #290
Great :+1:

[2021-10-03 09:23] #290 closed, assigned to nobody

[2021-10-04 10:31] kimlimjustin opened #291 "Broken numbering on Integration page"
Hello, I was going to test Tauri for [my project](https://github.com/kimlimjustin/xplorer) and when looking at the documentation, I realized that the numbering on the Integration page is off.

![image](https://user-images.githubusercontent.com/61906684/135835959-2893bb71-b8de-4164-adf5-dab2846c4f19.png)
![image](https://user-images.githubusercontent.com/61906684/135835997-28f54193-37b1-4b3f-a817-c

[2021-10-04 11:35] lucasfernog commented on #291
This is fixed on the next branch on this repo. Thanks for opening this issue though :)

[2021-10-04 11:35] #291 closed, assigned to nobody

[2021-10-04 11:54] FabianLars commented on #291
That screenshot is from the next branch tho: https://github.com/tauri-apps/tauri/blob/next/docs/usage/development/integration.md
There are indeed two lines starting with `### 1.`, but it also kinda makes sense as those steps are like "either this or that, not both".

[2021-10-04 11:57] kimlimjustin commented on #291
IDK from where's the docs site is but that's the problem haha, especially the latest sentence.

[2021-10-13 21:28] rondonjon opened #292 "(resolved)"
-/-

[2021-10-13 22:52] #292 closed, assigned to nobody

[2021-11-18 00:40] ghost opened #295 "Search not working"
When searching for something, I get cross origin related errors, on Firefox v94:

![grafik](https://user-images.githubusercontent.com/23178554/142318274-72873595-c166-4dc8-869b-f9763c1fddaa.png)
(The German text is basically saying that the request was blocked due to CORS)

![grafik](https://user-images.githubusercontent.com/23178554/142318929-88ba2195-0019-4cfc-8018-e9cadba0fabf.png)

Is there an

[2021-11-18 11:58] FabianLars commented on #295
Yeah we know about that and our discord search bot is broken too. We're working on it. Thanks for reporting!

[2021-12-07 10:51] #295 closed, assigned to nobody

[2021-12-10 02:16] shenghan97 opened #304 "Incorrect format of heading hierarchy in path module doc"
Hi.

It appears that the _Platform-specific_ heading in [https://tauri.studio/en/docs/api/js/modules/path](https://tauri.studio/en/docs/api/js/modules/path) is being incorrectly marked as h1 or h2. However they apparently should be much lower in the hierarchy, maybe h3 or h4. It causes problems in the table of contents on the right sidebar where _Platform-specifc_ s are intended less than their co

[2021-12-10 02:49] amrbashir commented on #304
We fixed this in tauri repo, will be updated in the next release. Thanks for reporting it.

[2021-12-10 02:49] #304 closed, assigned to nobody

[2021-12-12 23:48] mohamadbdeir opened #306 "tauri.localhost doesn't start"
I integrated tauri to my angular project, when I use` npm run tauri dev` after doing `ng serve --open` everything works fine because I have localhost:4200 running.

However, after I build the tauri app using `npm run tauri build` and I launch it, the app remains blank and in the console, I can see that 'tauri.localhost' refused to connect, meaning that there is no server running.

When I add `"emb

[2021-12-12 23:49] lucasfernog commented on #306
Please follow the issue template and post the output of `tauri info`.

[2021-12-12 23:49] lucasfernog commented on #306
Your `tauri.conf.json`'s `devPath` config value should be `http://localhost:4200`.

[2021-12-13 06:44] mohamadbdeir commented on #306
Here is the output of `tauri info`

`Operating System - Windows, version 10.0.19043 X64
Webview2 - Not installed

Node.js environment
  Node.js - 16.13.1
  @tauri-apps/cli - 1.0.0-beta.10
  @tauri-apps/api - 1.0.0-beta.8

Global packages
  npm - 8.3.0
  yarn - Not installed

Rust environment
  rustc - 1.57.0
  cargo - 1.57.0

App directory structure
/.angular
/.git
/.vscode
/dist
/node_modules
/sr

[2021-12-13 06:50] mohamadbdeir commented on #306
Here is the output of `tauri info` :

[code]

the `devPath` is already set to `http://localhost:4200`

Here is the entire `tauri.conf.json` file:

[code]

[2021-12-13 07:00] mohamadbdeir commented on #306
Thanks for your help, I was able to fix the issue by using the correct path for distDir. It was set to `../dist` instead of `../dist/appName`

[2021-12-13 07:00] mohamadbdeir commented on #306
Thanks for your help, I was able to fix the issue by using the correct path for `distDir`. It was set to `../dist` instead of `../dist/appName`

[2021-12-13 07:00] #306 closed, assigned to nobody

[2022-01-06 15:57] iacore opened #307 "Add support for no javascript and keyboard navigation"
Currently, the documentation is unusable without Javascript. For example, on page https://tauri.studio/en/docs/api/cli, the side bar / links are useless when clicked.

Also, when navigating with keyboard, <kbd>Space</kbd> on "Skip to content" does not scroll the page to start of content (it should be a link with `href="#start"`). Navigating backwards is confusing, since the title bar has `display:

[2022-01-06 17:03] nothingismagick commented on #307
this is not something we can fix afaik - because we use docusaurus. sorry :(

[2022-01-06 17:47] iacore commented on #307
The docusaurus documentation is usable without Javascript. https://docusaurus.io/docs

Here's a better reference of sidebar navigation: https://www.typescriptlang.org/docs/handbook/advanced-types.html

[2022-01-06 18:07] nothingismagick commented on #307
Oh wow! I didn't know that!

[2022-01-11 23:56] lorenzolewis opened #315 "Release Notes version sidebar glitchy height"
When on the release notes page, the sidebar that has each version number changes height depending on the length of the release notes for that version. Most likely needs a modification in `src/pages/release-notes.js` around the styling.

[2022-01-12 11:34] lorenzolewis commented on #307
@locriacyber can you test the navigation sidebar on this test deploy to see if the issue is fixed for you: https://deploy-preview-314--tauri.netlify.app/en/docs/api/cli/

Could you elaborate a bit more on the navigating with keyboard point? Give it a try on the above site as well as it could possibly be fixed.

[2022-01-12 11:56] lorenzolewis commented on #143
I'll add this one to my roadmap to work on
Adding link here for future reference: https://docusaurus.io/docs/i18n/tutorial

[2022-01-13 16:51] lorenzolewis opened #324 "Missing next page link in docs"

[2022-01-13 19:42] lorenzolewis opened #325 "Partners page redesign"
Possibly redesign the partners page to make it more sleek and fashionable!

[2022-01-14 15:27] lorenzolewis opened #331 "404 Page"

[2022-01-14 15:35] #324 closed, assigned to nobody

[2022-01-16 20:40] lorenzolewis opened #339 "Discuss using PRs for Translation vs Crowding"
@ksnyde

Putting this here so I don't forget it ;)

[2022-01-17 00:06] dragonworx opened #340 "JavaScript API needs an index page"
Following the link for the JavaScript API on `docs/development/intro` leads to a 404 as there is no `https://github.com/tauri-apps/tauri-docs/tree/dev/docs/api/js` page for the JavaScript API on `docs/api/config`.

**Expected behavior:** Clicking the link on `docs/development/intro` would land on an index page showing the Classes, Enums, Interfaces, Modules pages with preferably a short intro and

[2022-01-17 17:09] iacore commented on #307
- The "Skip to main content" link still needs JavaScript (incorrect `a[href]`).
- links (`<a>`) do not change color or anything on focus. I don't know which link I'm focusing.
- link color too light, too-little contrast with white background
- nav bar covers main content (please don't use `position: sticky`); Github uses this feature as well, but in Firefox, the browser considers text covered by s

[2022-01-19 11:05] lorenzolewis commented on #340
Fixed and deployed. Thanks for catching this!

[2022-01-19 11:05] #340 closed, assigned to nobody

[2022-01-19 11:57] lorenzolewis commented on #307
Out of curiosity, can you test these two points on https://docusaurus.io/docs with the same setup? If it has the same behavior there then I'm afraid that's something upstream that we can't do anything about unless they adjust.

For the overall contrast, we're working on a redesign and I'll add the other two styling points to get covered under that

[2022-01-19 11:58] #315 closed, assigned to nobody

[2022-01-19 11:59] lorenzolewis commented on #325
Thinking about moving partner logos to the index page, then having a link out to the partners page as well (maybe part of an overall `index.js` redesign

[2022-01-19 14:27] lorenzolewis opened #347 "JS Index page"
Once https://github.com/tauri-apps/tauri/pull/3249 is accepted, need to remove the below lines since index will now be generated by TypeDoc
https://github.com/tauri-apps/tauri-docs/blob/36c2bb1f010e8441443671a7e3d769c8a6009bd1/sidebars.js#L94-L99

[2022-01-19 20:07] iacore commented on #307
It's same behavior with "Jump to main content" and `:focus` style.

[2022-01-19 20:28] lorenzolewis commented on #307
But the navbar covering the main content is fine there? I can compare between and see what we can do to fix that. Thanks for checking!

[2022-01-20 09:27] slorber commented on #307
Those are Docusaurus issues that we'll try to fix, I don't think Tauri should do anything about those

[2022-01-20 09:42] lorenzolewis commented on #307
@slorber feel free to reach out if any testing needs to be done around that when ready

[2022-01-20 10:00] Josh-Cena commented on #307
Hey, for the theme colors part, we have included a11y guidelines in our styling docs: https://docusaurus.io/docs/next/styling-layout#styling-your-site-with-infima You can use the tool to select different light/dark mode palettes, and check if they pass the WCAG contrast check.

[2022-01-20 16:07] lorenzolewis commented on #307
Thanks @Josh-Cena, we have a redesign in the works so we'll be paying special attention to light themes which should address this.

@locriacyber I've included these notes in https://github.com/tauri-apps/tauri-docs/pull/333 so that we include them. I'm going to go ahead and close this issue for now. Any updates we get from upstream will be included when they are released.

[2022-01-20 16:07] #307 closed, assigned to nobody

[2022-01-20 20:16] #347 closed, assigned to nobody

[2022-01-20 21:21] renovate[bot] opened #354 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/tauri-apps/tauri-docs).

## Repository Problems

These problems occurred while renovating this repository. [View logs](https://developer.mend.io//gi

[2022-01-21 18:54] lorenzolewis opened #359 "Lightmode"
- [x] Accent colours for light and dark modes (used on roadmap)
- [x] Add :hover to <a> elements #307
- [x] Add light theming for high-contrast #307
- [x] Navbar toggle padding https://github.com/tauri-apps/tauri-docs/pull/333#issuecomment-1014601573
- [x] Search Bar overhaul
- [x] Navbar hover height
- [ ] Github icon size (make larger)
- [x] Beta badge contrast (as well as semantic warning, info

[2022-01-22 09:57] lorenzolewis commented on #359
Keeping an eye on https://github.com/twbs/icons/issues/1094 for a linux icon

[2022-01-22 16:22] lorenzolewis opened #363 "Redesign Release Notes page"

[2022-01-22 16:24] lorenzolewis opened #364 "Update how JS/Rust docs are generated"
Need to have a way to customise more of how we generate the JS and Rust API documentation

[2022-01-22 17:19] lorenzolewis opened #365 "Create new Architecture doc"

[2022-01-24 16:57] lorenzolewis opened #372 "Redesign Search"
I'd like to move the site to using Docusaurus's Algolia search UI. Docusaurus uses it for their site so you can see the functionality of it there. The current backend would still stay with Meilisearch and not looking to move away.

## Issues to fix

- [x] Mobile bar covers logo https://github.com/tauri-apps/tauri-docs/issues/574
- [x] Mobile results are cut off of edge
<img width="367" alt="Screen

[2022-01-25 23:16] ImmaZoni opened #374 "[docs] No certificates were found that met all the given criteria."
Issue with user trying to build with Windows code signing enabled.

User was following guide - https://tauri.studio/docs/guides/bundler/sign-windows

and received the following error

[code]

PR https://github.com/tauri-apps/tauri-docs/pull/375 will close this issue.

[2022-01-26 10:07] #374 closed, assigned to nobody

[2022-01-27 12:48] FabianLars opened #380 "Fill FAQ before first release candidate"
quote https://discord.com/channels/616186924390023171/662624589037436928/936279456031596615:

[2022-01-29 13:25] JonasKruckenberg opened #512 "document supported versions"
We should document what versions of our dependencies we support.

## OS
- macOS: `>= 10.15`
- window: `>= win10`
- linux: ???

## Other
- Node.js: `>= 12.13.0` (Should this be raised to `12.22.0` to support  napi 8? )
- Rustc: `>= 1.56.0` (edition 2021)
- Cargo: `>= 1.56.0` (edition 2021)

[2022-01-29 14:10] FabianLars commented on #512
I'm really fine with 10.15. But we could add a note that reportedly >=10.13 works too, and that we won't provide support for it or something like this.
Edit: and something about safari versions

`>= win7` -> webview2 supports it, it's still too widespread, and it has some extended support for security fixes for enterprise versions. In general we don't have to invest too much time to support it any

[2022-01-29 14:28] lucasfernog commented on #512
We also need to add a note saying that `window.print` is only supported on macOS 11+

[2022-02-04 23:14] betamos commented on #692
For me personally, I was already rewriting the backend parts from Node to Go for speed and a smaller runtime, and that's when I started looking seriously at Tauri. From a marketing perspective, I imagine Tauri appeals stronger to those that either have no backend, are fine with writing the backend in Rust, or have a backend in a sidecar executable like myself.

[2022-02-05 03:39] lucasfernog commented on #249
Closing since we're planning a dedicated security & csp documentation this weekend.

[2022-02-05 03:39] #249 closed, assigned to nobody

[2022-02-06 04:01] wpbonelli opened #395 "Broken JS API docs link"
The [link](https://tauri.studio/docs/api/js/index) to the JS API docs on the [intro page](https://tauri.studio/docs/development/intro) is broken, just a friendly fyi
![Screen Shot 2022-02-05 at 10 59 18 PM](https://user-images.githubusercontent.com/10502868/152667245-1c2443dc-59ec-43f8-a3de-3c2317fc29ba.png)

[2022-02-06 13:04] FabianLars commented on #395
Hey, thanks for reporting it! ❤️

We're in the process of refactoring the docs and its structure (see the feat/v1 branch), so I'm gonna close this issue as the problematic page isn't part of the docs anymore.

[2022-02-06 13:04] #395 closed, assigned to nobody

[2022-02-13 21:42] JonasKruckenberg opened #431 "Add guide: Tauri + Vite"
## Setup
- link to vite setup
- link to tauri setup
- add tauri to vite project
- recommended config
[code]

## Development
- mention HMR
- link to React, Vue, Svelte guides

## Building
- explain `vite build` (short)
- explain how `tauri build` will find the assets

## SSR
- mention `import.meta.env.SSR`
- link to vite SSR guide

## Plugin recommendations
- vite has a wide variety of plugins, but

[2022-02-13 21:43] JonasKruckenberg opened #432 "Add guide: Tauri + Rollup"
## Setup
- link to rollup setup
- link to tauri setup
- add tauri to rollup project
- consider using `babel` with recommend target config
[code]

## Development
- link to React, Vue, Svelte guides

## Building
- explain `rollup -c` (short)
- explain how `tauri build` will find the assets

## SSR
- how? Maybe https://github.com/chrisvfritz/prerender-spa-plugin is an option?

## Plugin recommendatio

[2022-02-14 11:00] JonasKruckenberg opened #440 "Add guide: Typescript"
## TODO

Add a document to `getting-started` explaining how to set up typescript with Tauri, what the benefits are, and explain a few recommended settings.

## Details

- what (short explainer, link to docs)
- why (security, DX)

### Recommended compiler options
[code]

[2022-02-14 11:03] JonasKruckenberg opened #441 "Add guide: Tauri + HTML,CSS,JS"
# TODO

Add a guide to `architecture` laying out how to use Tauri without a frontend bundler using plain HTML, CSS, and JS.

## Details

- `devPath` and `distDir` can point to file system paths
- when `devPath` is a file path, Tauri will provide hot reloading

[2022-02-14 11:05] JonasKruckenberg opened #442 "Add guide: Tauri + Vue"
# TODO

Explain how to use Tauri with a Vue frontend, show a few examples using various Tauri APIs and give some tips on configuration.

# Details

## Setup
- install vue
- link to vue getting started

## Development
- show basic example
- show how to import tauri functions
- show how to use `events.listen` with vue reactivity

## SSG
- ssg is possible with vue
- link to vue ssg docs
- link to vit

[2022-02-14 11:07] JonasKruckenberg opened #443 "Add guide: Tauri + React"
# TODO

Explain how to use Tauri with a React frontend, show a few examples using various Tauri APIs and give some tips on configuration.

# Details

## Setup
- install react
- link to react getting started

## Development
- basic example
- show how to import tauri functions
- how how to use `events.listen` with `useEffect`

## SSG
- ssg is possible with react
- renderToString and hydrate
- link t

[2022-02-14 11:09] JonasKruckenberg opened #444 "Add guide: Conditional compilation"
# TODO

Tauri exposes several environment variables to the `beforeDevCommand` and `beforeBuildCommand`, allowing frontend bundlers to perform conditional compilation. You can use this to write platform-specific JS code.

# Details

## JavaScript
- only available with some bundlers (but most) -> called treeshaking
- the cli exposes a set of environment variables
   - `TAURI_PLATFORM` - same as `tar

[2022-02-14 11:15] JonasKruckenberg opened #445 "Add guide: Prerendering"
# TODO

SSG is a performance optimization commonly found in traditional web development where static HTML pages are generated at build time and hydrated at runtime.
This is done to improve the rendering of a web page.

SSG applies to desktop apps too. An app that renders a blank page and then draws the app's content feels very out of place on the desktop, so optimizing the time-to-first-paint is c

[2022-02-14 12:32] chippers commented on #445
I am familiar with prerendering with webpack with prerender-spa-plugin. Not with any of the other tools

[2022-02-14 12:33] chippers commented on #441
I am interested in this guide as a "base technologies" type of thing, where the minimal inputs meet Tauri. I can't recall if the CLI hot reloads for a file system `devPath`

[2022-02-14 12:35] chippers commented on #440
I am semi-interested in the TypeScript guide stuff, not sure if I have enough knowledge to really fully fill it out. I am curious about the target in the OP being ES2021, isn't Tauri mostly 2017+ regarding system versions?

[2022-02-14 12:52] FabianLars commented on #441
It doesn't but i think we said we want to implement it. Currently you have to ctrl+c the cli to pick up the changes.

[2022-02-14 13:55] JonasKruckenberg commented on #440
We did a few tests a while ago, I don't remember the details but we determined ES2021 is fine for user code, but tauri libs and plugins have to target ES2019(?) because of webpack 4.

[2022-02-14 13:56] JonasKruckenberg commented on #441
Well 😂 I'm glad I didn't write this guide

[2022-02-14 13:57] JonasKruckenberg commented on #445
You can also just throw up a draft on hackmd for this, so we can work on this together

[2022-02-14 18:25] Laegel commented on #441
Can't remember if we said it was a good or a bad idea to have this `devPath` FS watcher. Probably a good one, but we wouldn't do it because of the code freeze. This could be a "good first issue", right?

[2022-02-16 11:56] blfpd opened #454 "bash: $: command not found..."
The shell/bash code snippets shouldn’t start with the prompt sign `$`, especially if there is this super practical <kbd>Copy</kbd> button.

[code]
To be replaced by:
[code]

This prompt may confuse beginners, and is less and less _everywhere_.

Found in the [Getting Started page](https://github.com/tauri-apps/tauri-docs/blob/dev/docs/getting-started/setting-up-linux.md), might be found elsewhere.

[2022-02-16 12:12] FabianLars commented on #454
imo the $ is generally a good thing to include, but the copy button really defeats its purpose here. For me the best case would be if it's not selectable (like in electron docs) and if the button could ignore it too.

If we can't implement it like this i'd vote for removing it too.

[2022-02-16 12:25] blfpd commented on #454
I’ve always found it more confusing than helpful. It’s quite obvious if there is `sudo`, and no filename attached to the snippet, it to be typed in a terminal. If this is not obvious, better write it down in plain text before the listing.
But neither of us is beginner, so at this point this is opinion/bike-shedding.

I’d rather remove them here, than adding them on https://tauri.studio/docs/gettin

[2022-02-16 12:58] FabianLars commented on #454
Well adding them there wouldn't make sense as they try to be cross-platform.

True, the only somewhat helpful thing _for me_ is if it's about root # (which obviously is super rare).

As harsh as this may sound, we can't rely on common sense. But i agree that a) the "inconsistency" is annoying and b) the people the sign is actually meant for (beginners) may indeed not know what $ vs # means. So rem

[2022-02-16 15:05] pkmq24 opened #455 "Add guide: 32bit app build on windows"
# TODO

Add the guide to build 32-bit app(x86) on windows

# Details

quote:

```rustup target add i686-pc-windows-msvc```

``` yarn tauri build --target i686-pc-windows-msvc```

[2022-02-16 20:03] JonasKruckenberg opened #456 "Add guide: Tauri + Nextjs"
## Setup

- link to nextjs setup
- link to tauri setup
- explain how to setup nextjs and tauri in one project
- configuration
   - configure ecmascript target
   - configure conditional compilation env vars
   - strict port?

## Development

- mention HMR
- best practices when mapping routes to app views?
- any other best practices when targeting desktop apps?

## Building

- mention vite build (s

[2022-02-17 10:31] FabianLars opened #457 "Remove/Change usage of `tauri icon` command."
`tauri icon` -> https://github.com/tauri-apps/tauricon

[2022-02-19 10:10] chippers commented on #42
bumping and pinning because I believe this is a blocking issue for a stable 1.0 release

[2022-02-19 13:14] tglman opened #462 "Diagram in lockdown receipe do not display correctly"
Hi,

Going trough your docs I noticed that here: https://tauri.studio/docs/architecture/recipes/lockdown/ the diagram do not display correctly.

Hope this help to fix it !

Regards

[2022-02-19 13:15] nothingismagick commented on #462
Thanks, these docs will all be revised this week. Will keep the issue open til its sorted.

[2022-02-19 17:09] JonasKruckenberg opened #463 "Mention consequences of enabling `macOSPrivateApi`"
According to @lucasfernog one can still notarize an app using macOS private APIs, but will be rejected from the App Store.

[2022-02-19 17:19] JonasKruckenberg commented on #274
Will be tracked over at #441

[2022-02-19 17:19] #274 closed, assigned to nobody

[2022-02-22 09:37] FabianLars opened #468 "Inline docs/syntax for allowlist scopes in config docs"
Example: <https://tauri.studio/docs/api/config#tauri.allowlist.shell.scope> - how should ~~a user~~ Jonas know what `ShellAllowlistScope` is?

[2022-02-22 09:46] JonasKruckenberg commented on #468
I don't even know what that is myself 😂

[2022-02-24 22:05] #462 closed, assigned to nobody

[2022-02-25 03:50] GuoJikun opened #473 "[i18n] add simplified Chinese"
It is suggested to add simplified Chinese

[2022-02-25 10:51] FabianLars commented on #473
Our docs and its structure are too unstable for i18n right now, but once that is no more (when we release tauri@v1-stable) we will start translating again (most likely via crowdin.com again)

[2022-02-25 10:51] #473 closed, assigned to nobody

[2022-02-27 04:09] medmin opened #479 "Windows Application Distribution page has a bug"
In this page, https://tauri.studio/docs/distribution/windows

This is the first sentence : Tauri applications for Windows are distributed **either** with a Microsoft Installer (.msi files).

You have **either**, what about the **or** ?

[2022-02-27 09:57] JonasKruckenberg commented on #479
Indeed 😅. @lucasfernog did you mean to add "and .exe format" or shall we just remove the either?

[2022-02-27 10:27] FabianLars commented on #479
The .exe is not really generally distributable right now, so probably better to remove it.

[2022-02-27 15:20] lucasfernog commented on #479
Yeah my bad, just mention MSI.

[2022-03-01 01:09] peterroe commented on #473
Maybe I can help translate Chinese documents after the official version is released @FabianLars

[2022-03-02 09:07] GuoJikun commented on #473
Look forward to the official version

[2022-03-06 12:25] #454 closed, assigned to nobody

[2022-03-07 02:01] betamos opened #486 "[docs] Clarify asyncness of events"
The [events guide](https://tauri.studio/docs/guides/events/) contains examples showing how to emit events to the backend:

[code]

Note that `emit` returns an empty promise, which is discarded here and suggests an incorrect usage of the API. I suggest that the docs should answer at least these questions:

- Can these promises be safely discarded without introducing leaks or race conditions with ot

[2022-03-13 11:13] Poopooracoocoo commented on #359
Hi does the website use prefers-color-scheme? I saw the dark theme by default despite having light mode enabled for apps and my browser. It looks like it doesn't. Should I open a new issue or is this comment enough?

[2022-03-13 11:25] FabianLars commented on #359
@Poopooracoocoo The (unreleased) re-design which this issue is about does respect it. The current site however doesn't. I opened a small PR to change it for the live site.
Here's the preview: <https://deploy-preview-498--tauri.netlify.app>

[2022-03-13 11:39] JonasKruckenberg commented on #359
Hey @lorenzolewis because this issue just popped up in my notifications: What colors did you use exactly for that light mode? The colors from figma?

[2022-03-13 11:42] lorenzolewis commented on #359
I tried to keep them pretty organised here, the first set are dark mode, but you can see light mode in there as well.

https://github.com/tauri-apps/tauri-docs/blob/feat/v1/src/css/custom.css

[2022-03-16 10:36] #457 closed, assigned to nobody

[2022-03-18 11:06] #479 closed, assigned to nobody

[2022-03-30 12:49] Janaka-Steph opened #537 "[docs] MenuItem::About() expected 2 arguments"
Writing `add_native_item(MenuItem::About("Blabla".to_string()))` now returns error `expected 2 arguments`
Please add an example in the doc `https://tauri.studio/docs/guides/menu`.

Here `https://docs.rs/tauri-runtime/0.3.4/tauri_runtime/menu/enum.MenuItem.html#variant.About` it doesn't say if MacOS is supported. It doesn't seem so, metadata are not displayed.

[2022-03-30 13:47] mojizo opened #532 "How to execute complex shell script？"
e.g `cd path/to/a/folder && node scripts/build.js`
I want to use Command JavaScript API to execute it.
Can anyone post some examples?

[2022-03-31 01:12] #532 closed, assigned to nobody

[2022-03-31 11:09] cangSDARM opened #539 "[docs] Improve window customization guide"
### Describe the bug

https://github.com/tauri-apps/tauri/blob/45d427e44c0e06194079426c2690019643e03277/core/tauri/scripts/core.js#L136

here is my dom hierarchy:

[code]

It renders like this:
![image](https://user-images.githubusercontent.com/20441896/161040936-5078c945-9631-4b3d-a370-d6e1c8744180.png)

I can't properly trigger the window's drag unless I add `data-tauri-drag-region` to every ele

[2022-03-31 11:12] cangSDARM commented on #539
A less elegant solution from before

https://github.com/tauri-apps/tauri/pull/3031

Customize an event and allow tauri users to bind it themselves may better

[2022-03-31 11:12] FabianLars commented on #539
See here for the reasons why we can't change it: <https://github.com/tauri-apps/tauri/pull/3031>.
So yes you need to add the attribute to the _actual_ click target (which generally should be the innermost element)

Edit: Unlucky timing 😂

[2022-03-31 11:14] cangSDARM commented on #539
I saw. So I suggest using a custom event to let the user bind himself

[2022-03-31 11:14] FabianLars commented on #539
You can already do that by using `startDragging` yourself.

[2022-03-31 11:15] cangSDARM commented on #539
It would be better to implement in tauri to avoid other potential bugs.
Or give a hint in the documentation?  😂

[2022-03-31 11:32] amrbashir commented on #539
It is documented here https://tauri.studio/docs/api/js/classes/window.WindowManager#startdragging

[2022-03-31 11:40] cangSDARM commented on #539
I mean here: https://tauri.studio/docs/guides/window-customization

[2022-03-31 11:45] amrbashir commented on #539
Yeah that guide needs to highlight `data-tauri-drag-region` more and also include a manual implementation of it using `window.startDragging` and `mousedown` event.

[2022-04-01 01:21] lucasfernog commented on #537
The documentation does state that the metadata is only applied on Linux.

[2022-04-02 09:52] cxgreat2014 commented on #473
Look forward to the tauri@v1-stable

[2022-04-03 15:12] JonasKruckenberg commented on #539
Suggestion noted

[2022-04-04 18:02] dmz76 commented on #441
I'm very interested in this as I have a project that is just a simple educational app in CSS, HTML and EaselJS that I would really like to migrate from Electron. Using Electron I didn't need to think about a server and I could find enough examples/clues to get it to work. As it stands I have no idea what to do past initial setup.
Any progress on the guide?

[2022-04-04 18:06] FabianLars commented on #441
Not much progress as we're in the process of rewriting _everything_, so it makes sense to wait with new doc pages after that's done.
We can look into providing some first some pointers in this issue if we find the time.

[2022-04-04 18:49] dmz76 commented on #441
Fair enough. I actually just got my project to work, just without sound. I'm hopeful!

[2022-04-27 14:31] timfayz opened #694 ""Your First Tauri App" page is confusing and missing the "Build" step [docs]"
Recently, I stuck upon Tauri and I found it very promising after reading its first pages. I needed exactly what it promises – "simple", fast, and small desktop application with a web frontend. So I decided to give it a try. My goal was "just" to build a basic Hello World application, given the tutorial a normal newbie would start from: https://tauri.studio/docs/getting-started/beginning-tutorial/.

[2022-04-27 17:20] allynsweet commented on #694
I'm new to using Tauri as well, and new technologies take some learning, but as a user of software, my computer's memory encourages you to stick with it a little while longer before jumping to a Chromium-based framework.

Basically adding Tauri to your project's package.json or globally on your operating system. `yarn add -D @tauri-apps/cli` will add the dev dependency to your project's package.js

[2022-04-27 17:41] FabianLars commented on #694
Thanks for the extensive feedback! In preparation of the upcoming v1 release we're currently rewriting our docs, so feedback like this is highly appreciated, especially since it is really really rare that we actually get feedback about the docs.

[2022-04-27 19:19] timfayz commented on #694
@FabianLars, it would be nice to see the drafts if they are available. Can hardly relate the pieces in the current version. Honestly, I don't know who wrote the current version but this the worst documentation I've seen so far in projects with such a big amount of stars (is that a 'star fever'?). I want to mention good examples of how "Build your first app" should look like. Just borrow and replac

[2022-04-27 19:47] JonasKruckenberg commented on #694
First off, while your comments and feedback are definitely very helpful and well-meaning they feel unnecessarily aggressive. We're all just volunteers, no one works on this full time and we've been all focusing on stability of the framework itself.
We're really doing our best here, so just be patient please.

Anyway, [here is the WIP version](https://github.com/JonasKruckenberg/tauri-docs-wip) of

[2022-04-27 20:38] timfayz commented on #694
Surely they are! Sorry for that. Didn't want to mean it 🙏 😇  (Verzeiht mir!)

Sure. I would say it is just about being (extremely) pity that you've done such a great job but spend so little time on expanding the things that would take an hour for those who know but for those who don't – would take the days.

That's very good to know! That information will actually motivate me to take a couple of t

[2022-04-27 20:46] JonasKruckenberg commented on #694
Don't worry 😁

Yeah it's less than ideal right now, but one thing we struggled with in the past that during the beta stuff changed extremely quickly and that wasn't much fun at all. Outdated docs can be even worse than no docs 😅

Our discord is where we're most active: https://discord.com/invite/tauri

Otherwise Github discussion is also available. I personally don't have a Stackoverflow account n

[2022-04-29 11:27] corquaid commented on #154
would also like to know if this is possible.

[2022-04-29 11:30] FabianLars commented on #154
I think [productName in tauri.conf.json](https://tauri.studio/docs/api/config#package.productName) allows using spaces too and converts it automatically in places where spaces are not allowed. I'm not 100% sure tho.

[2022-04-29 11:53] corquaid commented on #154
But the `package > productName` in `tauri.conf.json` doesn't affect the app name in the Menu Bar on macOS - that's only controlled by `Cargo.toml`. Unless I'm misunderstanding how it works.

[2022-04-29 12:13] FabianLars commented on #154
Hmm no, afaik it's supposed to use the productName (with Cargo.toml = fallback) as CFBundleName in the plist file of the .app bundle (cfbundlename is what's used in the menu bar)

[2022-05-07 12:08] lorenzolewis commented on #23
Closing this as I feel it's addressed now with https://github.com/tauri-apps/tauri-docs/blob/dev/.github/CONTRIBUTING.md

[2022-05-07 12:08] #23 closed, assigned to nobody

[2022-05-08 01:16] hslee2008 opened #574 "Search component covers Tauri logo in mobile"
# Problem
Currently, the website's search component covers the logo.
It's not a huge problem but it is certainly annoying when browsing the docs in mobile.

![tauri studio_](https://user-images.githubusercontent.com/78584173/167277694-1bf03ac8-7b98-4a31-9a0c-f7c4a03b067f.png)

# Solution
Make a button when clicked, opens either a modal or shows input that only works on mobile.

[2022-05-08 21:09] lorenzolewis commented on #365
Closed by https://github.com/tauri-apps/tauri-docs/pull/569

[2022-05-08 21:09] #365 closed, assigned to nobody

[2022-05-08 21:10] lorenzolewis commented on #359
Closing this out as we now have light mode (will continue to tweak it where necessary)

[2022-05-08 21:10] #359 closed, assigned to lorenzolewis

[2022-05-11 17:02] lorenzolewis opened #589 "Workaround for linking docs from page or footer"
Currently have to use `getCurrentVersion()` from utils/scripts.js to retrieve the "live" version of docs to assist with building a dynamic URL for a versioned doc. Raised https://github.com/facebook/docusaurus/issues/7402 upstream and I believe we rely on them for a fix.

[2022-05-12 12:45] lorenzolewis commented on #42
The groundwork has been laid for this and the CONTRIBUTING page outlines how to do this. Closing this issue.

[2022-05-12 12:45] #42 closed, assigned to nobody

[2022-05-12 12:46] lorenzolewis commented on #13
Closing as this is covered in https://tauri.studio/v1/about/governance#code-of-conduct

[2022-05-12 12:46] #13 closed, assigned to nobody

[2022-05-12 16:20] lorenzolewis opened #593 "Guide Improvements"
Using this to track enhancements to migrated docs that aren't show-stoppers to migrate and that'd like to implement in the near future

# Concepts
- [ ] https://github.com/tauri-apps/tauri-docs/pull/590#discussion_r871358377
- [ ] Windows 11 support https://github.com/tauri-apps/tauri-docs/pull/590#discussion_r871473653
- [ ] Possibly migrate development/security to concepts/security https://githu

[2022-05-12 20:07] FabianLars commented on #593
Gonna hijack this one to remind myself to add temporary 301 redirects for _all_ guides after #590 is merged, because too many people use google to actually navigate the docs.

[2022-05-13 16:05] lorenzolewis commented on #372
@HyunseungLee-Travis if you're interested in digging into the search bar UI, feel free to give @yankeeinlondon and myself a ping on Discord, he worked on the backend indexing and I'm familiar with the whole site overall

[2022-05-13 16:18] lorenzolewis commented on #372
Tagging @OlegGulevskyy as well

[2022-05-13 16:25] #363 closed, assigned to nobody

[2022-05-13 16:31] lorenzolewis commented on #241
Closing this as we've since introduced a contributing file and are planning on getting rid of the guide on the hosted site (will only be on GitHub)

[2022-05-13 16:31] #241 closed, assigned to nobody

[2022-05-13 16:34] lorenzolewis commented on #76
Is this covered by https://github.com/tauri-apps/awesome-tauri?

[2022-05-13 19:03] lorenzolewis commented on #372
After having a chat with @OlegGulevskyy, deciding to not use the AlgoliaSearch UI. Originally thought the UI was something written by Docusaurus but they've just done a wrapper around https://github.com/algolia/docsearch, so it doesn't seem right to take that component.

Putting https://github.com/tauri-apps/tauri-docs/pull/599 in place in the mean time to at least clean up some of the logic.

[2022-05-13 20:32] lorenzolewis commented on #574
Going to close this, tracking in #372

[2022-05-13 20:32] #574 closed, assigned to nobody

[2022-05-14 12:24] lorenzolewis commented on #372
Closing this with #600, thanks @HyunseungLee-Travis for the help!

[2022-05-14 12:24] #372 closed, assigned to nobody

[2022-05-17 09:12] haasal opened #610 "[feat] Confusing "Getting Started" Web-Layout"
### Describe the problem

The [Getting Started](https://tauri.studio/v1/guides/getting-started/beginning-tutorial/) page on the tauri website is rather confusing as all Headers are `h3`. It might be difficult for some to understand what belongs to "*Start a new tauri project*" and what to the "Initialize Project" Subject.

(I just noticed there is some minor inconsistency with the colons in the he

[2022-05-18 12:53] lorenzolewis commented on #468
This will be fixed by #604 right?

[2022-05-18 12:53] lucasfernog commented on #468
Yeah I believe so.

[2022-05-18 13:05] lorenzolewis commented on #257
Will be closed by #604

[2022-05-18 13:15] FabianLars commented on #468
Yep

[2022-05-18 17:57] #257 closed, assigned to nobody

[2022-05-18 17:57] #468 closed, assigned to nobody

[2022-05-21 11:16] #325 closed, assigned to nobody

[2022-05-22 16:55] elanzini opened #621 "Broken link in Introduction Page"
The link [here](https://github.com/tauri-apps/tauri-docs/blob/dev/docs/about/intro.md?plain=1#L9) is broken.
Points to https://tauri.studio/v1/about/guides/getting-started/beginning-tutorial - nothing there

[2022-05-23 08:46] good-praxis commented on #593
since we're keeping track of [tauri#2731](https://github.com/tauri-apps/tauri/issues/2731), I'd suggest also keeping track of [tauri#4163](https://github.com/tauri-apps/tauri/issues/4163), both being related to the AppImage build process and `PATH` resolution

[2022-05-24 10:35] #621 closed, assigned to nobody

[2022-05-26 12:16] #154 closed, assigned to nobody

[2022-05-28 01:14] dallonf opened #628 "[docs] Guide for debugging Rust (ex. with LLDB via VS Code)"
It would be really nice to be able to debug the Rust code in a Tauri app. I've done it before with pure Rust projects, but I'm very fuzzy on how I would attach to a Tauri process. The current docs only describe how to use `println!`-based debugging.

[2022-05-28 08:15] Laegel commented on #628
Hey @dallonf , you're right: this would be an amazing thing to document. :)

[2022-05-28 18:31] JonasKruckenberg commented on #628
I haven't used GDB or LLDB much so I can't add any more details, but this is my starting point: https://jonaskruckenberg.github.io/tauri-docs-wip/development/debugging.html#gdb

So if you have more tips to add, feel free to open a PR!

[2022-05-28 20:40] lucasfernog commented on #628
I'm considering integrating debugging with LLDB in the tauri VS Code extension.

[2022-05-30 14:03] #628 closed, assigned to nobody

[2022-05-31 20:11] #455 closed, assigned to nobody

[2022-06-06 10:38] lorenzolewis commented on #339
Docusaurus and Crowdin integration has been set up and completed, closing this one out.

[2022-06-06 10:38] #339 closed, assigned to nobody

[2022-06-06 10:39] lorenzolewis commented on #143
Closed by https://github.com/tauri-apps/tauri-docs/pull/607

[2022-06-06 10:39] #143 closed, assigned to nobody

[2022-06-06 10:39] lorenzolewis commented on #177
Closing this as we've now launched the Crowdin integration. Translations can be done at https://tauri.crowdin.com/documentation

[2022-06-06 10:39] #177 closed, assigned to nobody

[2022-06-06 18:52] yankeeinlondon commented on #339
Nice. Is there a readme somewhere I could look at to just get my head around the solution?

[2022-06-06 18:53] yankeeinlondon commented on #339
I think I re-openned; didn't mean to do that

[2022-06-06 19:13] lorenzolewis commented on #339
I think it stayed closed, but no worries at all. It's just using Crowdin as the translation agent since that's the industry standard and we were already moving in that direction. https://github.com/tauri-apps/tauri-docs/blob/dev/.github/CONTRIBUTING.md#internationalization-i18n has a bit of information on it.

If this is to look at indexing then feel free to send me a message and on Discord and we

[2022-06-12 13:18] lorenzolewis commented on #593
@JonasKruckenberg Hijacking this to have a conversation on Getting Started guides.

I think it would be good to have an outline of what topics the different guides cover before we get into writing them all (would help those in the community that want to contribute as well). There is a lot of crossover and this could help us more easily build out the fragments.

Something along these lines:

- Taur

[2022-06-12 13:21] lorenzolewis commented on #610
I'd like to take another look at this once we merge https://github.com/tauri-apps/tauri-docs/pull/635 in. I think that will naturally give us some better context to improve this specific page.

[2022-06-12 13:23] lorenzolewis commented on #145
This should be directly in the JS API docs in the Tauri repo, not here.

[2022-06-15 13:28] #431 closed, assigned to JonasKruckenberg

[2022-06-15 13:28] #441 closed, assigned to nobody

[2022-06-16 14:04] lorenzolewis opened #663 "I18N for static assets"
Add the static folder to be synced with crowdin

[2022-06-16 16:04] lorenzolewis opened #667 "Guide Landing Page Revision"
@jbolda had a good recommendation to update our landing page for guides. A few ideas that we discussed with @JonasKruckenberg:
- Have a 1-liner MD fragment for `create-tauri-app`
- A few sentences quickly explaining what Tauri is
- Use a TOC component for each section of the sidebar with a quick description
- Work on creating our own first-party video that's more marketing focused (could probably

[2022-06-17 10:19] lorenzolewis opened #672 "[Crowdin] Combination of `%locale%` and `%two_letters_code%`"
Right now we can't enable languages that have two letter language code conflicts for translation (i.e. Chinese Traditional and Chinese Simplified, also shows up in Portuguese). This is because the CLI only supports either `%locale%` OR `%two_letters_code%` from what I can tell https://developer.crowdin.com/configuration-file/#placeholders. If we switch to `%locale%` then this would require us cust

[2022-06-17 10:21] lorenzolewis opened #673 "Evergreen i18n build"
Create a GitHub action to continually pull the latest translations and launch a deploy preview in Netlify.

Note: We may want to enable preview ALL languages we support in Crowdin, but we won't want to deploy those until we manually approve them and update them in the config as a core team. I'm not exactly sure what this would look like just yet.

# References
- Netlify will automatically build an

[2022-06-17 10:22] Laegel opened #674 "FAQ: Brew and Potential Conflicts with Tauri"
Installation issue because of Brew (see https://discordapp.com/channels/616186924390023171/987144563388997662/987298158692413440 for more details) to add the FAQ.

[2022-06-17 11:47] anshul-raman opened #676 "[docs] Add a guide about `tauri::State`."
Managing state of the application is a very common problem. Consider adding a section on managing state of the application in rust on [this page](https://tauri.app/v1/guides/features/).

The documentation is available in [docs.rs](https://docs.rs/tauri/latest/tauri/struct.Builder.html#method.manage) but linking this page in features section of the main website will be more helpful.

[2022-06-17 11:51] amrbashir commented on #676
other than this https://tauri.app/v1/guides/features/command#accessing-managed-state?

[2022-06-17 11:56] anshul-raman commented on #676
I might have missed that. Sorry for this. Still a separate section with detailed example like in the docs.rs page would be helpful.

[2022-06-17 12:38] shanecash opened #675 "[docs] Recommended vite.config.ts has a type error"
This one threw me for a loop. The error returned by TypeScript is confusing (see image). I incorrectly thought it was an issue with Vite: https://github.com/vitejs/vite/issues/8629. It's not, but they pointed me in the right direction. The fix is to add `"strictNullChecks": true` to `tsconfig.node.json` `"compilerOptions"`.

![Screenshot from 2022-06-17 08-25-05](https://user-images.githubusercont

[2022-06-17 12:40] shanecash commented on #675
I also set up a reproduction of the error here: https://github.com/ShaneAtJag/vite-2.8.0-bug

[2022-06-17 13:02] lorenzolewis commented on #673
Tagging @Byacrya

[2022-06-17 13:04] lorenzolewis commented on #673
We could have an alternative build file with additional languages and pass that to the CLI to build: https://docusaurus.io/docs/cli#options-1

Would just like to build that dynamically if possible at all so that we don't get de-sync issues between the files.

[2022-06-17 22:07] lorenzolewis opened #679 "Move Tauri CLI guide"
Context: https://discord.com/channels/616186924390023171/987434624349261874/987477601180348429

We should move the CLI guide to he under "Quick Start". This helps with the overall flow of the getting started section and also shows that cargo is just another option to integrate with Tauri.

CC @FabianLars

[2022-06-18 18:38] despreston opened #691 "[docs] macOS app store info"
I wanted to publish my app to the macOS app store and couldn't find any info about this in the docs. I was told on Discord that it's currently not possible. This seems like a commonly asked question based on the 10-20mins I spent poking around Discord history. I'm not sure if this is something thats on the roadmap, but regardless IMO it would be nice to include a blurb in the docs to mention that

[2022-06-19 06:58] ethanwillis opened #687 "Link goes nowhere."
https://github.com/tauri-apps/tauri-docs/blob/91491bec1d8594ede890b6c59798964fd8525b82/docs/guides/architecture/security.md?plain=1#L57

[2022-06-19 15:16] lorenzolewis commented on #674
@amrbashir and @Laegel could you give a bit more context for this? So is the issue if brew is install on linux in general? Or just if you installed tauri via brew? And what are the mitigation steps? I saw uninstalling brew but is that the only option?

What would the errors look like for this? Dependency issues?

We should also have a link in the Quick Start pages to this specific FAQ entry

[2022-06-19 15:16] lorenzolewis commented on #663
Closed by https://github.com/tauri-apps/tauri-docs/pull/685

[2022-06-19 15:16] #663 closed, assigned to nobody

[2022-06-19 15:19] lorenzolewis commented on #512
I feel like this is something that should be on the Tauri repo readme, possibly right under this table:
<img width="823" alt="Screenshot 2022-06-19 at 16 17 51" src="https://user-images.githubusercontent.com/15347255/174488148-524e3f97-2351-4e30-918b-9837d7204517.png">

Would also be good to specific if these are development requirements and/or distributed client requirements.

[2022-06-19 15:20] lorenzolewis commented on #259
Closing with our recent updates to the docs and the home page.

[2022-06-19 15:20] #259 closed, assigned to nobody

[2022-06-19 15:21] lorenzolewis commented on #203
Closing this out with the recent updates we've had to our guides https://tauri.app/v1/guides/getting-started/setup/html-css-js

[2022-06-19 15:21] #203 closed, assigned to nobody

[2022-06-19 15:23] lorenzolewis commented on #28
@lucasfernog I'm assuming this one is resolved since it's resolved in the Tauri repo?

[2022-06-19 15:25] lorenzolewis commented on #593
@JonasKruckenberg we talked about adding logos to the landing page for the getting started guides, could use something like we are in the accolades section here: https://github.com/tauri-apps/tauri-docs/blob/dev/blog/tauri_1_0.mdx#accolades

We'd have to manually add each new guide, but don't think that would be an issue

[2022-06-19 15:38] lucasfernog commented on #512
Good idea @lorenzolewis.

Only api.js and core are shipped in a Tauri binary, the others are all developer tools.

[2022-06-19 15:50] amrbashir commented on #674
@FabianLars has more knowledge of this issue, but I will try my best to explain this.

The system dependencies for tauri on Linux, are usually installed through the package manager like `api` and usually includes `pkg-config` (a utility to find libs on the system) and if you install `brew` it has its own `pkg-config` but it somehow also overrides the `pkg-config` installed through the package mana

[2022-06-19 15:50] JonasKruckenberg commented on #593
Yeah, I don't think we'll add that many so keeping up to date would become a problem 😅

So yeah that'd be cool!

[2022-06-19 20:34] #28 closed

[2022-06-20 01:20] #687 closed, assigned to nobody

[2022-06-20 18:54] lorenzolewis commented on #691
Would be good to put a longer explanation in the FAQ and then make sure we link to that in the respective macOS guides

[2022-06-20 20:25] lucasfernog commented on #692
Transferred it to the docs repo for more visibility - the main one has too many issues :D

[2022-06-20 22:37] lorenzolewis commented on #692
Gahhh! @lucasfernog doing that deep repo cleaning! Given this whole issue is a year old, so do what you want with the below :)

I think the only thing we can do as the Tauri team is make sure we're marketing Tauri and our goals as clearly as possible. If the market is wanting more security-focused and resource-optimised apps, then I think that's a good thing people are asking for it. Of course peo

[2022-06-21 13:33] zjslqshqz opened #695 "Chinese Simplified translations is ready！"
Please update tauri-docs Chinese Simplified translations。

[2022-06-21 14:22] mokeyish opened #696 "[docs] What's recommended browserlist for tauri?"
Hi,
From the readme, we known that tauri  leveraging WebKit on macOS, WebView2 on Windows and WebKitGTK on Linux.
But what's recommended browserlist for tauri?

I use [autoprefixer](https://github.com/postcss/autoprefixer ) to add vendor prefixes to generated css automatically. It needs browserslist .

[2022-06-21 14:32] nothingismagick commented on #696
That's a really good question. we've talked about this before, and actually providing a "tauri" set to browserlist. Happy to have the discussion here

[2022-06-21 14:40] FabianLars commented on #696
hmm, a pretty safe one for macOS 10.15+ should be `"defaults, not IE 11, safari >13, not op_mini all"`. For macOS 10.13+ this would need `safari >11` instead.

Since we don't have mobile support yet you could exclude them too, but i don't expect much of a difference.

_Edit:_ Alternatively you can make every "normal" webdev cry by using: `"safari >13, last 2 chrome versions"` (or `safari >11` as m

[2022-06-21 15:35] despreston commented on #691
I think that makes sense. 👍

[2022-06-22 08:19] caryxiao commented on #696
Mark.

[2022-06-22 08:38] JonasKruckenberg commented on #696
In the [vite getting started guide](https://tauri.app/v1/guides/getting-started/setup/vite) we recommend `target: ['es2021', 'chrome97', 'safari13'],`

It was the result of some previous discussions and research and seems to be pretty much what you came up with too

[2022-06-22 09:30] Laegel opened #699 "FAQ: How to Determine the App Environment?"
The question about knowing the app environment is often asked, for both backend and frontend sides.
:point_right:  This may indicate we're missing a simple feature for a better DX and/or a new line in our FAQ.

[2022-06-22 09:32] Laegel commented on #676
Yeah, this piece of documentation is hidden in the page @amrbashir linked, not something you can find from a higher browsing level (the search doesn't give us many clues, too).
I believe it deserves a dedicated page, I'll do it.

[2022-06-22 09:48] FabianLars commented on #676
i think @lucasfernog works on this, or at least planned to do 😄

[2022-06-23 09:28] lorenzolewis commented on #673
I did some work on this today and am coming up with a few issues. I have the automation in place, but we keep getting hung up on the link checking during build:

[code]

I know we're focusing on Chinese right now, but this is the same across all languages. It may be that we just need to adapt our links to be correct but I didn't have time to look into it yet.

I'm working on this here: https://git

[2022-06-23 09:29] lorenzolewis commented on #695
Hey @zjslqshqz, we have a few issues with broken links/automation we're working through. Tracking it here: #673. Once that is resolved then we'll automatically have Chinese Simplified enabled so going to close this for now.

Thank you!

[2022-06-23 09:29] #695 closed, assigned to nobody

[2022-06-23 09:45] lorenzolewis commented on #673
https://github.com/tauri-apps/tauri-docs/pull/701 This one may fix it, but needs to be deployed first and then see if all the i18n translations get fixed automatically once they're pushed to crowdin

[2022-06-23 11:30] lorenzolewis commented on #699
What specifics? OS, OS version, if in dev or release, etc? Do we have an API that exposed this all to reference?

[2022-06-23 15:14] lorenzolewis commented on #673
Using this to keep notes, but we want to look at some way of caching the "build" folder between crowdin runs or else our run times will go crazy turning on extra languages

[2022-06-23 15:22] FabianLars commented on #673
Either that or limit runs to 1 every X hour(s) 🤷

[2022-06-23 15:24] lorenzolewis commented on #673
Not even, every 1 day. I just hit an "out of memory" error on build only halfway through the list of languages, so it's a fun journey.

[2022-06-23 17:01] lorenzolewis commented on #673
Might have to switch up the deployment strategy and do multi-domain because the build times just aren't playing friendly at all https://docusaurus.io/docs/i18n/tutorial#multi-domain-deployment

[2022-06-28 20:56] lorenzolewis opened #714 "Conditional Edit Url"
Saw a comment in https://github.com/tauri-apps/tauri-docs/pull/712 about the edit buttons being off for our API pages. We could use this functionality to conditionally generate the edit URLs for our API pages: https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-docs#EditUrlFunction

[2022-06-30 15:28] dimiour opened #720 "On website main page, when in fullscreen formating is wrong:"
![image](https://user-images.githubusercontent.com/98242336/176716541-bbfc34b5-fdd9-4016-8507-15cb226fe660.png)

[2022-06-30 20:25] adsick commented on #593
there is a broken video embedding in https://github.com/tauri-apps/tauri-docs/tree/dev/docs/guides

[2022-06-30 20:32] adsick commented on #593
there is a broken link "HTML/CSS/JS"
https://tauri.app/v1/guides/getting-started/html-css-js should be
https://tauri.app/v1/guides/getting-started/setup/html-css-js

fix this file: https://github.com/tauri-apps/tauri-docs/blob/dev/docs/guides/getting-started/setup/README.mdx

[2022-06-30 20:36] elibroftw opened #732 ""core layer" is unclear"
In https://tauri.app/v1/api/js/modules/fs#security, we are only told "if you need access to arbitrary filesystem paths, you must write such logic on the core layer instead" but what does "core layer" entail? Would we have to use Rust ourselves? Why make life difficult for us? This is such a nuisance in the name of security.

[2022-07-01 11:04] #720 closed, assigned to nobody

[2022-07-04 08:27] lorenzolewis opened #727 "i18n Post-Deploy"
Related to https://github.com/tauri-apps/tauri-docs/pull/726
- [ ]  Create API token for Netlify bot account and add to GitHub repo environment
- [x]  Update readme/contributing guide to reflect updated infrastructure
- [x]  Enable i18n uploads
- [x]  ~~Add bot account to Netlify~~

[2022-07-04 09:28] lorenzolewis commented on #512
Closing this via https://github.com/tauri-apps/tauri/pull/4432

[2022-07-04 09:28] #512 closed, assigned to nobody

[2022-07-04 17:45] lucasfernog commented on #732
The FS APIs expect a path relative to one of the [base directories](https://tauri.app/v1/api/js/enums/fs.BaseDirectory). To bypass that you need to write your own Rust command, like:

[code]

For security reasons we won't allow arbitrary paths.

[2022-07-04 18:03] elibroftw commented on #732
Security aside, I'm asking to improve the docs to use more explicit terms than "core layer"

[2022-07-04 21:42] FabianLars commented on #732
welp, we introduced `core` and `core layer` to make the docs clearer, guess that didn't work out 😅
Do you have suggestions? Just calling it "rust", "rust layer" or "the rust side"?

p.s. for what it's worth we explain the concept of the core side in the [architecture section](https://tauri.app/v1/guides/architecture/)

[2022-07-04 22:27] lucasfernog commented on #732
Rust layer will probably be clearer for everyone (not everyone will read the architecture section).

[2022-07-04 23:41] elibroftw commented on #732
Rust side. Core layer communicates internal aspects whereas core process is clear. I thought we might have to edit the library ourselves but then I just assumed the rust side would work. I asked for clarification since the wording acted like there are many restrictions rather than just the front-end one.

[2022-07-04 23:42] elibroftw commented on #732
And I started using tauri in January. I'm creating a tutorial series for people.

Tauri & ReactJS - Modern Desktop App Tutorial: https://www.youtube.com/playlist?list=PLmWYh0f8jKSjt9VC5sq2T3mFETasG2p2L

[2022-07-05 20:46] #673 closed, assigned to nobody

[2022-07-06 17:55] FabianLars opened #741 "Add Guide: Tauri + SvelteKit"

[2022-07-06 17:55] FabianLars commented on #741
ah yes, i'm a project board expert 😂 didn't mean to open this (yet)

[2022-07-06 19:37] JonasKruckenberg commented on #741
Iconic

[2022-07-10 16:53] lorenzolewis opened #754 "Trailing Slash URLs"
Relevant to https://github.com/tauri-apps/tauri-docs/pull/749

If we don't include the file Urls in our links then they don't get post-processed by Docusaurus and can lead to some issues with Url navigation if a backslash is included in the browser's current URL.

Previously I removed all file extensions because it was causing some issues with the i18n'ed sites. We've had quite a bit of work on i1

[2022-07-14 02:41] kvnxiao commented on #456
I've set up a barebones template repo for using next.js with tauri here https://github.com/kvnxiao/tauri-nextjs-template
Modified the development / build commands a bit, and keeping in mind that this is meant to use next.js solely as a frontend project scaffolding tool (similar to create-react-app), and not for its additional server-side rendering features. Meaning that it's only meant for SSG con

[2022-07-14 02:44] kvnxiao commented on #456
I'm wondering if this can somehow be adapted and integrated directly into the `yarn create tauri-app` command sometime in the future?

[2022-07-14 21:54] #667 closed, assigned to nobody

[2022-07-15 15:59] wburningham opened #772 "[feat] When will Go be supported"
### Describe the problem

When will Go be supported as a backend language? The roadmap section on https://tauri.app says that Go bindings are planned. I'd like to be able to subscribe to updates on a milestone.

### Describe the solution you'd like

Go as a backend language

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-07-15 19:49] lorenzolewis commented on #252
@JonasKruckenberg we have this bit repeated in all the guides. I think it would make sense to move this to the "Architecture" section (with a link in the docs) and take that as an opportunity to address this as well. Thoughts?

<img width="989" alt="Screenshot 2022-07-15 at 20 48 16" src="https://user-images.githubusercontent.com/15347255/179300310-c332b9dc-18d6-43d9-8302-69dabef44b34.png">

[2022-07-15 20:10] JonasKruckenberg commented on #252
Hmmm. I agree it would make sense to have this in an architecture guide, but Imo the getting started pages should be as self contained as possible. We don't wanna risk loosing/having people bounce bc they got confused by so many links to all over the place 🤔

[2022-07-15 20:13] lorenzolewis commented on #252
Maybe we leave it as-is in the guides and just have a link with "go here to learn more about these..."

[2022-07-15 20:20] JonasKruckenberg commented on #252
Yeah that sounds like a great idea 👍

[2022-07-15 20:43] lorenzolewis commented on #694
Having read through this thread, I think with our latest guide revamp a lot of these are addressed:

1. We explain what the differences are between the CLI and API (in their respective sections)
2. Added notes addressing what some of the additional files after running `tauri init` are (although this section we'll continue to work on formatting/layout polish)

I'm going to go ahead and close this,

[2022-07-15 20:43] #694 closed, assigned to nobody

[2022-07-15 20:44] lorenzolewis commented on #610
Closing this as we've had a LOT of changes and now have multiple guides available that hopefully have a more friendly layout: https://deploy-preview-773--tauri.netlify.app/v1/guides/getting-started/setup/

Please let us know if there are any additional points we can take to organise the guides :D

[2022-07-15 20:44] #610 closed, assigned to nobody

[2022-07-15 20:59] lorenzolewis commented on #675
We currently have `minify: !process.env.TAURI_DEBUG ? 'esbuild' : false,` in our guides for this line so I believe that should solve the issue. Feel free to re-open this if that isn't the case.

[2022-07-15 20:59] #675 closed, assigned to nobody

[2022-07-15 21:07] lorenzolewis commented on #674
What would an error message look like for this so that I can put it in there. Something like this?:

[code]

This is only relevant on Linux if using brew since it messes with the package manager if I'm reading this right.

[2022-07-15 21:11] lorenzolewis commented on #380
I'm going to close this one out. I've been going through and adding to some recent PRs for any issues that would be good for a FAQ entry, but lmk if there are additional ones we should throw on there

[2022-07-15 21:11] #380 closed, assigned to nobody

[2022-07-15 21:12] lorenzolewis commented on #263
We've done a lot of updates to the guides since this issue, going to close it. If you have any additional feedback then more than happy to hear how we can improve :)

[2022-07-15 21:12] #263 closed, assigned to nobody

[2022-07-15 21:13] lorenzolewis commented on #180
Closing this out as we've been revamping our guides and I believe this is covered now.

[2022-07-15 21:13] #180 closed, assigned to nobody

[2022-07-15 21:15] lorenzolewis commented on #133
@Laegel is this for a potential FAQ or can we close this one?

[2022-07-15 21:17] lorenzolewis commented on #76
Going to close this one out

[2022-07-15 21:17] #76 closed, assigned to nobody

[2022-07-15 21:51] FabianLars commented on #674
Nah, the errors are wayyyy more wild. One example would be this one: <https://gist.github.com/Olyno/536e6dd2b64f8b9903b1c6353181c98a#file-logs-properties-L350>

[2022-07-15 22:09] lorenzolewis commented on #674
So it can happen at any point in the dev lifecycle. fun. Maybe just having something titled "Brew Conflict on Linux" or similar then and not even try to go beyond that. I was thinking "what would someone google to get to the right page" but maybe there isn't a magic combo

[2022-07-16 15:05] lorenzolewis commented on #675
@amrbashir I think I saw this syntax in the CTA template so not sure if this would impact that or not

[2022-07-16 15:07] amrbashir commented on #675
Not in published CTA but in `rewrite-in-rust` branch.

[2022-07-16 15:16] lorenzolewis commented on #456
We're working on a re-write in Rust for create-tauri-app that will allow us to create/add a lot more templates, so this is on the roadmap. Can find more details here: https://github.com/tauri-apps/create-tauri-app/issues/77

[2022-07-16 18:28] FabianLars commented on #456
For the time being you could add it to https://github.com/tauri-apps/awesome-tauri tho.

[2022-07-16 19:02] #754 closed, assigned to nobody

[2022-07-17 14:05] paustint opened #781 "[docs] I just went through the quickstart and noticed a few issues"
I ended up having to start over because I followed the guide which led me astray.

I was following https://tauri.app/v1/guides/getting-started/setup/vite

I started with `yarn create tauri-app`
* `Create the Rust Project` -> this was already done as part of `yarn create tauri-app`, so when I attempted to do this I got an error saying that the `src-tauri` directory was not empty and I did a force i

[2022-07-17 14:40] JonasKruckenberg commented on #772
There is currently no work on bindings being done, we have plans to support languages (as the roadmap suggests) but need to lay a lot of groundwork before enabling stable bindings.

[2022-07-17 14:40] #772 closed, assigned to nobody

[2022-07-17 17:33] FabianLars commented on #781
Just to clear it up a bit. The docs currently mainly describe how to set it up without create-tauri-app (that's why it also shows how to use create-vite). So really, the only somewhat valuable information here is the example vite config, which is not necessary for using vite with tauri.
But i guess we need to make that clearer than just the small infobox at the top (which doesn't even mention that

[2022-07-17 20:33] #696 closed, assigned to nobody

[2022-07-18 15:13] wburningham commented on #772
@JonasKruckenberg how can I follow along with progress and changes to the roadmap? Asking because a similar request was made for python (#4670) and that issue is still open (are issues the source of truth or is there a different mechanism?).

[2022-07-18 17:57] nothingismagick commented on #772
There are two things you can look into:

The "best" we can do right now, is to point you at this example in the main repo:
https://github.com/tauri-apps/tauri/tree/dev/examples/tauri-dynamic-lib

It shows how to instrument Tauri with a cdylib - which can be a starting point.

The other "best", would be to consider joining the working group and actively contribute your knowledge to the field.

[2022-07-18 17:58] nothingismagick commented on #772
But. as a final note, you will still most likely need at least some rust in your project, as there is no event horizon anticipated where we rewrite in go.

[2022-07-18 18:31] jamiebuilds opened #783 "Blog posts all say they were published on the current date"
Looks like the YAML frontmatter on the blog posts dont have a published at date and something is filling in today's date.

[2022-07-19 11:51] lorenzolewis commented on #781
Reading through the `create-tauri-app` callout at the top I guess we don't do a good job explaining that it's an ALTERNATIVE to manually setting up tauri with the rest of the guide. So we can do some work to update the phrasing to highlight that.

[2022-07-20 00:55] paustint commented on #781
Ah - for some reason I could have sworn `src-tauri/target` showed up in git, but I just started over again and realized that was not the case - sorry for the noise on that 😄

[2022-07-20 01:47] lencx opened #786 "Tauri 系列 - 打造属于自己的下一代跨端应用"
推荐一份中文版《Tauri 系列》实战指南。虽然 Tauri 已经发布 v1.0 版本，但是中文可参考资料却寥寥无几。我正在基于 Tauri 开发一款工具集（各种小功能），通过写文章的形式来记录开发过程中遇到的各种问题，有配套代码仓库可供参考。希望这些文章可以帮助更多想入门 Tauri 的人，壮大 Tauri 的中文社区。

文章地址：[Tauri 系列](https://github.com/lencx/OhMyBox/discussions/categories/blog?discussions_q=category%3ABlog+label%3A%22Tauri+%E7%B3%BB%E5%88%97%22)
代码仓库：[lencx/OhMyBox](https://github.com/lencx/OhMyBox)

[2022-07-20 14:24] dimiour opened #787 "Example code not working for me"
The example for calling rust from the front end does not seem to work:
![image](https://user-images.githubusercontent.com/98242336/180005679-ba01d5c6-6b63-4551-a50d-2ac90b1d599a.png)
I made some modifications to the code (I don't know much javascript I just read the errors) like adding a slash to the import path, and removing the const because it couldn't be called twice. I got stuck on this error

[2022-07-20 15:07] lorenzolewis commented on #787
You shouldn't be using a leading slash, it's the same as the guides. Make sure you've added the NPM package as well.

Note that you only should define invoke once (you can decide which method to use based on the code comments).

The Vite guide may be help for for you to follow along with and make sure you have everything set up correctly. https://tauri.app/v1/guides/getting-started/setup/vite

[2022-07-20 15:07] #787 closed, assigned to nobody

[2022-07-20 19:34] lorenzolewis commented on #786
Hey @lencx thank you for putting these resources together! Had to do a bit of Google translate so hope I understood everything correctly from the original issue.

I'd recommend putting in a pull request to https://github.com/tauri-apps/awesome-tauri with the resources you included so that more people can benefit from it (just be sure to provide a bit of context in English in your PR).

If there ar

[2022-07-20 19:35] #786 closed, assigned to nobody

[2022-07-20 19:38] lorenzolewis opened #788 "Fix i18n site"
I think I broke the i18n CI process a bit during the move over to GitHub actions. Currently I'm copying all the files from the English directory and then restoring the translations, but I think the translations aren't overwriting the English files.

Just putting this here so I don't forget.

[2022-07-21 10:24] skishlin opened #790 "More specific directions on user guide walkthrough"
Hi,

I'm working on making videos/a user guide of using Tauri for absolute beginners. I'm pretty raw when it comes to computer coding and web development, but I spent the last 2 years teaching myself Data Analytics, Python and SQL and I've been learning Rust since February.  The user guide I have in mind is for people coming to the programming/development world with a very limited knowledge base l

[2022-07-22 22:21] Gambloide opened #795 "[docs] Vite Quickstart is Misleading about vite.config.ts"
**Article in question**
https://tauri.app/v1/guides/getting-started/setup/vite/

**Part in question**

**Issue**
No `vite.config.ts` file is created by following the instructions.

_From searching through the Discord I gathered this file has to be manually created at the project root instead when following the described process._

[2022-07-22 22:55] Gambloide opened #796 "[bug] Path variant of tauri::Icon cannot be found, despite being a documented variant"
### Describe the bug

_The described issue seems to include a code bug and a docs issue._

The following docs describe how to dynamically update a tray icon.
https://tauri.app/v1/guides/features/system-tray#updating-tray-icon

When following the rest of the guide and trying to update the icon with the provided example snipped, the following error is thrown when trying to compile the application:

[2022-07-23 00:23] amrbashir commented on #796
the docs on docs.rs is correct. you just need to enabled `ico-ico` feature or `ico-png` feature in `Cargo.toml` to access the `Raw` or `File` variants of `Icon`

sorry about that, we recently changed the `Icon` enum and the docs are not up to date. It should be `File` not `Path`

[2022-07-23 10:31] Gambloide commented on #796
Thank you for the pointer. 👍 However, adding adding the feature as below is not enough:

[code]

This results in another error:

[code]

To resolve this, the following line in the docs

[code]

needs to get a `to_vec()` added like so:

[code]

Afterwards the code compiles and the application is able to change the tray icon during runtime.

[2022-08-08 09:31] #783 closed, assigned to nobody

[2022-08-08 22:56] #795 closed, assigned to nobody

[2022-08-12 09:34] klausbreyer commented on #691
Can maybe link somebody those guides here? I found this through Google. I am new to desktop development, but have a lot of experience in the web.
For me the reason to chose tauri or electron is dependent on the ease of having a workflow that produces something that I can directly submit to the Mac or windows App Store.

[2022-08-13 08:33] malaire opened #817 "Following Quick Start guide fails as `cargo tauri dev` doesn't find correct target directory"
Following the [Quick Start guide](https://tauri.app/v1/guides/getting-started/setup/html-css-js) fails with following error:

[code]

Commands I used (on Debian 11):

    cargo install tauri-cli
    cargo tauri init
    ; giving ../ui for two last questions as told by the guide
    cargo tauri dev

[2022-08-13 08:51] malaire commented on #817
ok, so `cargo tauri init` doesn't create all the needed files (unlike `cargo init`)  and requires creating `../ui/index.html` manually.

After adding that, I get another error:

[code]

Note: `src-tauri/target` doesn't exist because I have configured my target directory to be elsewhere and apparently tauri is unable to find correct target directory.

[2022-08-13 09:50] FabianLars commented on #817
So tbh, i don't consider this a valid issue, because the guide tells you to create these files: https://tauri.app/v1/guides/getting-started/setup/html-css-js/#create-the-frontend. `cargo tauri init` can't take care of that since you're free to do whatever you want with your frontend. Check out `create-tauri-app` if you prefer full base setups.

That aside, the second comment is interesting, can yo

[2022-08-13 10:59] malaire commented on #817
yes, I got confused about what steps are needed when I don't want to use npm etc. - just cargo.

In my global `.cargo/config` I have set absolute path for `build.target-dir` (which overrides default `"target"`) to share build-artifacts between projects. So target files will not be in `src-tauri/target` but in a completely different location outside the project directory.

If `tauri` doesn't suppor

[2022-08-13 11:05] FabianLars commented on #817
Thanks for the explanation! tracking issue: https://github.com/tauri-apps/tauri/issues/4632

[2022-08-13 11:05] #817 closed, assigned to nobody

[2022-08-13 21:32] Eudritch commented on #741
I made a [Tauri + SvelteKit template](https://github.com/Eudritch/clean-tauri-sveltekit), which pretty much explains itself.

[2022-08-15 02:15] thadguidry opened #819 "`cargo upgrade` is not the correct command in docs"
Example:
[code]

[2022-08-15 03:12] tillcarlos commented on #699
Same problem here. I'd just like to know if I'm currently in the `yarn tauri dev` or if it's built already.

Googling it for 15min now and still nothing. Maybe this is not a common thing to do?

[2022-08-15 09:17] FabianLars commented on #819
copy paste from discord:
The reason why it's upgrade and not update, is because update can't update pre-release versions reliably, and in that context, can't modify the Cargo.toml file.

See https://github.com/tauri-apps/tauri-docs/pull/670.

We'll look into removing that whole section from that page because i don't think it fits in there.

[2022-08-15 09:25] FabianLars commented on #699
Copying from discord:
In rust you can check it with `#[cfg(dev)]`, example:
[code]
And in javascript you can just check if the current url matches your devPath.

[2022-08-15 11:39] lorenzolewis commented on #699
@FabianLars @lucasfernog I think this is something that would be a better as an API like Laegel mentioned. Something like `app.getEnvironment` that returns an enum or something and is bridged over to the JS side.

[2022-08-15 23:44] lorenzolewis commented on #788
Fixed by https://github.com/tauri-apps/tauri-docs/commit/09784d2c43ccd74e974f0db2e47d9600f8255376

[2022-08-15 23:44] #788 closed, assigned to nobody

[2022-08-16 20:03] lorenzolewis opened #822 "Tauri Book Page"
@nothingismagick what are your thoughts on the book page? I want to move it out of the "About" section as we're going to try to modify that whole section to be more Tauri development concepts.

If we'd like to keep the current page (https://tauri.app/about/book) then I'd suggest we:

1. Move it to the blog and back-date it based on commit history
2. Move it as a "generic" page (something like http

[2022-08-20 14:26] PyroTechniac opened #828 "Docs site cert is expired"
The docs site certificate has expired as of today, August 20th, 2022

[2022-08-20 14:27] FabianLars commented on #828
yep we know, thanks for the report, we're working on it :/

[2022-08-20 14:28] PyroTechniac commented on #828
Alright, sorry for the trouble and good to hear, thanks!

[2022-08-20 14:28] #828 closed, assigned to nobody

[2022-08-20 14:31] FabianLars commented on #828
It's fixed now, sorry for the inconvenience.

[2022-08-22 02:18] rfdonnelly opened #831 "[docs] mutability missing from guide-level state management documentation"
The guide on [accessing managed state](https://tauri.app/v1/guides/features/command#accessing-managed-state) does not cover mutable state.  State seems to be of limited usefulness if you can't mutate it.

This was a something I got stuck on and it seems others as well.  I found a few discussions that encountered the same issue.

* https://github.com/tauri-apps/tauri/discussions/3911#discussioncomm

[2022-08-22 05:37] JeremyRubin opened #3047 "[docs][bugfix] document that tauri's async_runtime is "blessed""
Tauri's async_runtime docs currently say that it "rexports" tokio's methods. This is not accurate, it wraps them.

If one directly uses a spawn from tokio one would expect equivalent semantics. However, Tauri's async runtime initializes a RunTime if one does not exist. This can lead to application panics in surprising ways if Tokio's methods are not used directly.

This adds a (negligible?) overhe

[2022-08-26 15:09] 0xle0ne commented on #456
Hey @JonasKruckenberg
I made a getting started in this [PR](https://github.com/tauri-apps/tauri-docs/pull/838)
I can also translate it in french if you need i just don't know how, im not familiar with docusaurus!

You can ping me up on the discord channel `@leone`

[2022-08-30 14:41] liesauer opened #842 "[docs] how can i debug the frontend project in vs code with breakpoint instead of using the devtools"
i have set `devPath` to `https://localhost:8080/` which is served by the `webpack-dev-server`, the question is how can i connect to the tauri webview in vs code so i can debug directly in vs code with breakpoint supported instead of using the devtools to debug?

![image](https://user-images.githubusercontent.com/8676741/187466238-8be2002c-3c0f-4bc3-8ea9-e06528b5b3be.png)

[2022-08-30 14:43] FabianLars commented on #842
Did you see this doc page already? https://tauri.app/v1/guides/debugging/vs-code

[2022-08-30 14:50] liesauer commented on #842
this doc is about debugging rust backend in vscode, not debugging the frontend.

[2022-08-30 16:41] jayber commented on #781
I just followed the https://tauri.app/v1/guides/getting-started/setup/html-css-js and was baffled to find, after running create-tauri-app, that the rust step failed. I had assumed they were part of the same sequence, rather than alternative ways of doing the same thing. Perhaps just moving the "Tip" to the end of the page will make it clear. It does make me wonder then why you even have instructio

[2022-08-30 16:55] nothingismagick commented on #781
This is such a good point. I think we need to differentiate between the approaches better.

[2022-08-31 08:43] liesauer commented on #842
successfully connect to the webview2 inspector by adding `--remote-debugging-port` argument to wry source(just for a quick try, the proper way should be passing into `WebContextData` like `data_directory` setting).

https://github.com/tauri-apps/wry/blob/dev/src/webview/webview2/mod.rs#L119
![image](https://user-images.githubusercontent.com/8676741/187634523-0bacdd3d-7da2-4085-9804-f2de9346cc39.pn

[2022-08-31 14:45] amrbashir commented on #842
Looks like you figured it out but it might be a good addition for our docs so I will transfer to tauri-docs

[2022-08-31 17:26] amrbashir commented on #842
I went looking for a webkit2gtk way but couldn't find one unfortunately. An alternative would be to use https://github.com/tauri-apps/tauri-invoke-http and debug it like a normal web app

[2022-08-31 17:26] #842 closed, assigned to nobody

[2022-09-01 02:21] liesauer commented on #842
no, https://github.com/tauri-apps/tauri-invoke-http is not expected solution. no additional plugins or depencies, just one or two configuration, press `F5`, boom, you are good to go. this is exactly what i need to do when i debug a regular web project in vs code now. this should be the expected debugging experience when we are developing a web project no matter it is a regular web app or hybrid we

[2022-09-01 09:52] StanlsSlav opened #847 "[docs] Typo in "cargo install create tauri-app""
Typo's present in the landpage and in the quick start pages.

[2022-09-01 16:37] amrbashir commented on #842
if you want to debug your regular web app without Tauri, you can still do that. Unfortunately with tauri, this is not possible since I couldn't find a way to attach a remote debugger from VSCode to Linux's Webkit2gtk or macOS's WkWebview. Only Webview2 allows this.

For webview2, the debugging steps are easy:
- add this to .vscode/launch.json
[code]
- open a powershell instance and run: `$env:WEBV

[2022-09-01 20:54] lorenzolewis commented on #847
Thanks! Closed by #848

[2022-09-01 20:54] #847 closed, assigned to nobody

[2022-09-05 18:39] #252 closed, assigned to lorenzolewis, nothingismagick

[2022-09-06 09:49] mpmazim opened #855 "[docs] How to add Tauri to an existing angular project?"
How to add Tauri to an existing angular Project?
complete guide please...

[2022-09-06 10:07] JonasKruckenberg commented on #855
No one from the team uses angular and as such we aren't really in the position to be writing docs about it. Maybe someone from the community wants to help out here, but until then, there are a couple templates and example repos on the internet (including [this](https://www.maximegris.fr/angular-tauri/)). Alternatively you can ask any specific questions on our [discord server](https://discord.com/i

[2022-09-06 10:22] FabianLars commented on #855
There's also this WIP guide: <https://deploy-preview-834--tauri.netlify.app/v1/guides/getting-started/integrate-tauri>, but it still has (incorrect) hard coded "answers" for the devPath, distDir etc stuff.

[2022-09-08 14:51] #56 closed, assigned to nobody

[2022-09-08 14:53] #85 closed, assigned to nobody

[2022-09-08 14:55] #107 closed, assigned to nobody

[2022-09-08 15:28] #133 closed, assigned to Laegel

[2022-09-08 15:28] #111 closed, assigned to nobody

[2022-09-08 15:30] #148 closed, assigned to nobody

[2022-09-08 15:31] #255 closed, assigned to nobody

[2022-09-08 15:32] #265 closed, assigned to nobody

[2022-09-08 15:50] FabianLars commented on #790
I'll close this as a duplicate of #781, even tho it's slightly different, but at least now the 2 issues are linked to each which should be enough for us to track it.

[2022-09-08 15:50] #790 closed, assigned to nobody

[2022-09-08 16:13] #674 closed, assigned to lorenzolewis

[2022-09-08 21:29] olivierlemasle opened #861 "Rewrite security documentation"
Edit by @FabianLars:

I'm just gonna hijack this to not create an almost-duplicate.
Really our whole security related docs need a complete rewrite, i feel like large parts of this page aren't accurate: https://tauri.app/v1/references/architecture/security/ and the security _guide_ mentioned below is missing and needs to be added again too.

I don't understand most of that security stuff so this wi

[2022-09-09 10:11] ruettenm commented on #796
Hi 👋

Today I started my first tauri app and had the same issues.

Could you please add the information that
* the `Cargo.toml` file needs to be updated
* and `to_vec()` needs to be added to the example

to the doc?

Thanks in advance
Matthias

[2022-09-09 19:15] olivierlemasle opened #864 "The Meilisearch index is not refreshed"
The Meilisearch indexing action has been commented out because it should not run for all Pull Requests: https://github.com/tauri-apps/tauri-docs/blob/76c81180323730dac285a83cb710a57d2d7710fd/.github/workflows/update-docs.yml#L85-L96

However, it should still run when deploying new versions of the documentation.

The index is currently outdated, e.g.:
- When searching "Benchmarks", no result are fo

[2022-09-09 19:32] FabianLars commented on #864
I just re-ran the indexer for the new References category. it will still pick up the drafts until one of us has the time and energy to continue working on our search x)

p.s. the workflow code is still for the old search and just kept as a reference.

[2022-09-09 20:30] olivierlemasle commented on #864
Thanks @FabianLars; however the new links are broken in the results (missing `/v1/`).

[2022-09-09 20:32] FabianLars commented on #864
Oh yeah, I'll fix that tomorrow. Thanks!

[2022-09-10 05:40] electrolyte-orb opened #865 "[design] Searchbar too wide for navbar at 1366px wide display"
## You can see here
at 1366px wide display(1080p scaled up by ~150%), the navbar becomes inaccessible:

![Tauri Issue](https://user-images.githubusercontent.com/55880176/189470834-cc26d89a-764a-49c6-85ed-f7306d7a7d41.png)

[2022-09-10 10:36] lorenzolewis commented on #865
Closed by #866

[2022-09-10 10:36] #865 closed, assigned to nobody

[2022-09-10 13:00] lorenzolewis commented on #855
Hey @mpmazim, take a look at the merged Integration guide here: https://tauri.app/v1/guides/getting-started/setup/integrate. If you'd like something more specific to Angular you can also check out the in-progress PR in our create-tauri-app repo https://github.com/tauri-apps/create-tauri-app/pull/167 that's specific to Angular.

[2022-09-10 13:00] #855 closed, assigned to nobody

[2022-09-10 13:15] lorenzolewis commented on #781
Thanks for the feedback @paustint and @jayber, we've updated the phrasing in the annotation at the top of the pages:

<img width="973" alt="Screenshot 2022-09-10 at 14 12 07" src="https://user-images.githubusercontent.com/15347255/189484901-974d2529-f058-46e0-9f94-572e42f0b4d1.png">

The content in the guides roughly line up with the output of `create-tauri-app` for a chosen framework so we added

[2022-09-10 13:15] #781 closed, assigned to nobody

[2022-09-10 13:18] #714 closed, assigned to nobody

[2022-09-10 13:18] #456 closed, assigned to nobody

[2022-09-10 14:27] lorenzolewis commented on #741
As an update, SvelteKit has reached the 1.0 RC https://www.reddit.com/r/sveltejs/comments/xa03y7/sveltekit_has_entered_its_release_candidate_phase/ so we could look more closely at writing a guide without breaking changes coming in (hopefully).

[2022-09-10 14:28] FabianLars commented on #741
quite happy that we "waited" with the guide because they reworked basically _everything_ 1 or 2 weeks ago 😂

[2022-09-10 14:32] lorenzolewis commented on #741
Yup, that routing system re-write was a big one, but I like the way it works now more than before it.

I wonder how we approach covering Svelte, SvelteKit, and Vite considering they have a lot of crossover (same for CTA as well).

[2022-09-10 20:59] #796 closed, assigned to nobody

[2022-09-11 07:24] meet-rizwan commented on #26
Hey why this thread is closed i think this is not completely resolved

My node js backend server asked for origin to resolve cors

I have added few of my development and production origin to pass cors and its working

When its comes to tauri, tauri sends request to my nginx load balancer and origin logs like

In windows origin is tauri://localhost
In mac it is "-"
In linux it is "-"

When i allow

[2022-09-11 21:23] lorenzolewis commented on #331
This got fixed somewhere with all the Netlify changes we did

[2022-09-11 21:23] #331 closed, assigned to nobody

[2022-09-14 13:29] #679 closed, assigned to nobody

[2022-09-14 20:01] #819 closed, assigned to nobody

[2022-09-15 12:23] FabianLars commented on #831
We added cross-links in the crate docs for the upcoming release (really soon). Thank you for your feedback!

We still plan to add an actual guide later but that's already tracked in #676

[2022-09-15 12:23] #831 closed, assigned to nobody

[2022-09-16 13:57] meet-rizwan commented on #26
???

[2022-09-17 12:43] #741 closed, assigned to nobody

[2022-09-24 14:43] liesauer opened #917 "[docs] lack of types conversion and binding docs"
for example
1. how to receive `number` at rust side
2. how to receive or return `object` or any complex object
[code]
3. which types are compatible or can be safely transfer
4. it there any suggestion on types conversion, function declaration(the right way to deal with the data)

just like this, [CLR vs. PHP types](https://docs.peachpie.io/net/type-system/)

[2022-09-24 15:59] NeoEvaX opened #916 "[Feature request] Add RSS feed for Blog"
The Tauri blog has very important release information. Many blog software out there includes an auto generated rss.xml file that many applications can subscribe to and look for changes. This would allow new posts to get to a wider range of people who may not check the blog itself often enough.

Posting a new blog entry would just regenerate the RSS file that needs to be accessible.

Working group

[2022-09-27 06:28] meet-rizwan commented on #26
@Laegel  any support or answer or trick to bypass this issue

[2022-09-29 13:04] Uninen opened #923 "[docs] data-tauri-drag-region is undocumented"
Searching for anything to do dragging or `data-tauri-drag-region` doesn't currently produce anything helpful via the docs search and searching the repo itself didn't reveal any documentation for this either.

I'd be happy to help in writing some docs for this (and maybe other data- attributes if there are any?) and make a PR if someone could point me to a right direction :)

[2022-09-29 13:09] amrbashir commented on #923
duplicate of #539

[2022-09-29 13:09] #923 closed, assigned to nobody

[2022-09-29 13:18] Uninen commented on #539
Not sure if this should be different issue or no but the search on the documentation site doesn't find *anything* with "drag", "dragging", or "data-tauri-drag-region" even though the string data-tauri-drag-region clearly is on this page: https://tauri.app/v1/guides/features/window-customization/

Is there something I could do to help improving the docs (or the search)?

[2022-09-29 13:29] FabianLars commented on #539
The search is currently not nearly as optimized enough and basically only picks up headers right now :/
And code blocks will probably never be indexed, not sure

We always appreciate PRs adding or rewriting guides, or improving the api docs. We know that all that is far from perfect.

The search itself is a spicy topic and still needs a lot of work :/

[2022-10-01 11:31] goenning commented on #699
The problem I have with `app.get{Something}` is that it's async/promise, not a big deal really, but I'd rather work with static variables when possible.

What I do currently is use the `TAURI_{Something}` variables that are exposed during the build process to inject static strings to the bundles (using vite). I struggled to find this on the docs too, but it's mentioned on the vite specific guide:

[2022-10-01 11:41] willser opened #928 "[docs] Seem a mistake in doc"
Hi team.
I am starting to learn to use `tauri`I read this [website](https://tauri.app/v1/guides/getting-started/setup/html-css-js) and get those :
[code]
So I just run fllowing command:
[code]
And I got those result:
[code]
I did it.But I got a error :
[code]

I had to read follow the rest of this guide.And I noticed there a command which is `cargo install tauri-cli`.I tried it.After install,I run

[2022-10-01 11:46] FabianLars commented on #928
So the sentence about skipping the rest of the guide was mostly with create-tauri-app v1 in mind which didn't have the cargo-only setup.
The thing is, i'm not sure how to include the cargo "edge case", especially since create-tauri-app tells you to install it:
[code]
^ This is the output after `cargo create-tauri-app` and i'm not sure how to make it clearer in the docs without making it harder for

[2022-10-01 11:59] willser commented on #928
@FabianLars My bad.I didn't read the return of the first command carefully.There is nothing missing about this command.

[2022-10-01 11:59] #928 closed, assigned to nobody

[2022-10-22 00:40] ZaneH commented on #691
Here's the link to the docs: https://tauri.app/v1/guides/distribution/macos/
Another helpful link: https://tauri.app/v1/api/config/#macconfig
You'll also need: https://tauri.app/v1/guides/distribution/sign-macos

[2022-10-24 03:41] psytron commented on #26
Will there be a config option for this?

or flag:
[code]
or config:
[code]

[2022-10-24 05:33] meet-rizwan commented on #26
how to make origin request from electron like this

https://billing.chikupos.com

so i can only allow request cors for this url  to secure my servers access not everyone will be able to access

[2022-10-24 15:44] despreston commented on #691
Hi, @ZaneH. Looks like those links dont address the issue. Namely, I think the project needs to convey that it's not possible to publish the app to the app store.

[2022-10-25 02:54] drharryhe opened #951 "[docs] cannot open tauri.app properly"
when try to open the document website, got the following page

![image](https://user-images.githubusercontent.com/4024888/197671166-b2b27340-4aa8-40a2-aa06-63003379c3b9.png)

[2022-10-25 07:11] nothingismagick commented on #951
I cannot even replicate that error if I turn off CSS and Javascript. It does look like what happens sometimes on VERY, slow connections... Will need more info to triage.

[2022-10-26 01:59] drharryhe commented on #951
thanks for the reply. when i close my proxy, it looks fine now. (actually, with my proxy, i can visit github, google etc properly, do i did not think of a connection issue)

[2022-10-26 09:41] memodyssey opened #952 "Events with YEW"
Hello, I would like to implement the emit function with Yew but I don't how can I implement it especially the **listen** function
https://tauri.app/v1/guides/features/events/

[code]

Is there any way to do this with a frontend built with rust ?
Can we get this page documented with yew ?

[2022-10-26 13:07] nothingismagick commented on #951
ok, cool.

[2022-10-26 13:07] #951 closed, assigned to nobody

[2022-10-27 13:46] FabianLars commented on #26
No ( = highly unlikely)

Using the webview's native http functions it's realistically only possible on Windows: <https://github.com/tauri-apps/tauri/discussions/4912>. In Rust it should be easy tho.

[2022-10-29 04:58] kirankunigiri commented on #691
I just landed here while google searching to see if it was possible to publish a Tauri app to the app store. I 100% agree with @despreston that it should be written very clearly in the docs, at the very least on the distribution page, because I couldn't find this info anywhere else besides this GitHub issue.

I originally started my Tauri project assuming it was possible (lack of forethought on my

[2022-10-29 22:14] renovate[bot] opened #957 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: Invalid git-submodules.schedule: `Invalid schedule: Failed to parse "every friday at 1am"`

[2022-11-05 20:20] elibroftw opened #966 "Embedding the Webview2 Bootstrapper hash not found"
In https://tauri.app/v1/guides/building/windows/#supporting-windows-7, there is a link to
https://tauri.app/v1/guides/building/windows/#embedding-the-webview2-bootstrapper

this link should be https://tauri.app/v1/guides/building/windows/#embedded-bootstrapper instead
![image](https://user-images.githubusercontent.com/21298211/200139338-7b4aaeaf-48a4-4ef8-b296-01c906e434cf.png)

[2022-11-05 22:42] #966 closed, assigned to nobody

[2022-11-09 04:22] emdax commented on #26
+1
Tauri is a technological marvel. Just curious what is the rationale behind this limitation?

As it stands, even a basic app which could be neatly encapsulated in one secure process, instead requires splitting into side carts and more moving parts. etc.

Why not enable running whole JS app neatly encapsulated inside browser process, with access to APIs/CORS etc?

[2022-11-11 05:17] elibroftw opened #977 "Spelling Mistakes (Releases Changelog , OsType)"
https://tauri.app/releases/ 1.2

https://tauri.app/v1/api/js/os#ostype

instead of "Windows_NT"

[2022-11-11 05:28] elibroftw opened #978 "Improve Cross-Platform Compilation"
I made a video recently on multi-platform compiling.
https://youtu.be/rHK2keBNSHo
 I tweaked some things from the example workflow which I feel would be beneficial to the community.

Source: https://github.com/elibroftw/modern-desktop-app-template/blob/master/.github/workflows/build.yml
(DO NOT COPY BLINDLY, ONLY USE FOR CLARIFICATION OF THE BELOW SUGGESTIONS)

Changes you should include in https:

[2022-11-12 02:22] psytron commented on #26
+1
Would be awesome to just package the whole JS app inside one process instead of spreading across sidecarts with open ports etc.

[2022-11-14 19:22] brahimABD98 opened #984 "Rust toolchain for windows"
While setting up Tauri for first time on **windows** I didn't know that I had to switch the rust toolchain from
the default windows-gnu to windows-msvc ,hence when I didn't have the right toolchain, it led to this error

![image](https://user-images.githubusercontent.com/47871510/201743555-8a8557e5-905e-46e0-8d31-a42d1c3db245.png)

- Adding additional section with commands on how to see the curren

[2022-11-15 10:02] amrbashir commented on #984
please consult cargo/rustup docs for this https://rust-lang.github.io/rustup/concepts/toolchains.html

[2022-11-15 10:02] #984 closed, assigned to nobody

[2022-11-16 14:33] buildnewapp commented on #691
OMG，tauri app cannot be released to mac app store !!!

[2022-11-16 15:01] FabianLars commented on #691
To be clear, it is possible to publish Tauri apps to the macOS app store. I heard of at least 3 Tauri apps that were already published there (don't know the app names, only the devs).
What is indeed true is that Tauri doesn't streamline this process and doesn't even output the expected file format. We plan to add both docs and better tooling for this as soon as we can (we don't have an app we can

[2022-11-17 11:31] FabianLars commented on #26
Is anyone able to provide an actual example that show-cases what exact problems you're facing? Preferably issues that can not be fixed with tauri's own http module (<https://tauri.app/v1/api/js/http>). Thank you.

[2022-11-18 09:56] kirankunigiri commented on #691
Thanks @FabianLars, this is interesting! Is it also possible to publish to the Windows App Store, and has anyone done it before?

I'm also almost done with a simple macOS app I'm planning to publish to the App Store in a few weeks (I wrote it in Swift/Xcode a few years ago and put it on the App Store, but I wanted to remake it from scratch in React and add more features, and also get a Windows bui

[2022-11-24 02:53] Zertz commented on #691
I haven't had the chance to give a try yet but [that comment](https://github.com/tauri-apps/tauri/issues/4415#issuecomment-1317827781) by @ryan-bunkr seems very helpful!

[2022-11-24 11:26] lgmadurange opened #990 "show the window after closed and when in system tray"
I build an application , when i clicked the close window, it automatically goes to system tray with this command

`.run(|_app_handle, event| match event {
          tauri::RunEvent::ExitRequested { api, .. } => {
            api.prevent_exit();
        }
        _ => {}
        });`

but after it goes to the system tray i want to get it show when i click the system tray icon,
what should i have to